html{
    height: 100%;
}
body{
    position: relative;
    min-height: 100%;
    background:#fff;
    font-size: 14px;
}
a:active{
    color:#34495e;
}
.index-warp .title{
    text-align: center;
     padding-top: 30px;
    padding-bottom: 10px;
}
.index-warp table th{
    font-size: 15px;
}
.index-warp table td{
    font-size: 14px;
}
.index-warp table .weui_btn{
    position: relative;
    top: 5px;
}
.index-warp .weui_btn_area{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.index-warp .weui_btn_area .weui_btn{
    font-size: 16px;
}
.index-warp .weui_cells{
    font-size: 16px;
}

