html.pb0 {
    padding-bottom: 0;
}
.mui-dtpicker input[type='submit'], .mui-btn-primary, .mui-btn-blue{
        background: #ff2f2f;
        border-color:#ff2f2f;
    }
.classify-wrap {
    .public-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0.4rem;
        z-index: 2;
        .padding-box {
            padding-left: 1.066667rem;
        }
        .arr-btn {
            position: absolute;
            left: 0;
            width: 1.066667rem;
            height: 0.96rem;
            line-height: 0.96rem;
            text-align: center;
            a {
                display: block;
                color: #fff;
                i {
                    font-size: 0.6rem;
                }
            }
        }
    }
    .main-box {
        width: 100%;
        position: relative;
        height: 100vh;
        .left-page {
            position: absolute;
            top: 1.76rem;
            width: 2.4rem;
            bottom: 1.4rem;
            overflow: auto;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            li {
                position: relative;
                height: 1.333333rem;
                text-align: center;
                line-height: 1.333333rem;
                font-size: 14px;
                color: #333;
                &.active {
                    background: #fff;
                    color: #ff3d33;
                    font-weight: 600;
                    font-size: 14px;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0.106667rem;
                        height: 0.24rem;
                        background: #ff3d33;
                        border-radius: 4px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0.533333rem;
                    }
                }
            }
        }
        .right-page {
            position: absolute;
            left: 2.4rem;
            right: 0;
            top: 1.76rem;
            bottom: 1.4rem;
            background: #fff;
            padding: 0.2rem;
            box-sizing: border-box;
            overflow: auto;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            .type-list {
                margin-top: 0.266667rem;
            }
            .classify-item {
                display: none;
                &.active {
                    display: block;
                }
                .title {
                    color: #333;
                    font-size: 13px;
                    margin-bottom: 0.333333rem;
                    text-align: center;
                    position: relative;
                    font-weight: 700;
                    &:after,
                    &:before {
                        content: '';
                        width: 0.533333rem;
                        height: 0.06667rem;
                        background-color: #D9D9D9;
                        margin: 0 0.266667rem;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .row {
                    margin-left: -0.133333rem;
                    margin-right: -0.133333rem;
                }
                .col-md-4 {
                    float: left;
                    width: 33.33%;
                    padding-left: 0.133333rem;
                    padding-right: 0.133333rem;
                }
                .item-box {
                    text-align: center;
                    .icon-box {
                        padding-left: 0.4rem;
                        padding-right: 0.4rem;
                        img {
                            width: 1.36rem;
                            height: 1.466667rem;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #333;
                        margin-bottom: 0;
                        line-height: 2;
                    }
                }
            }
        }
    }
}

.list-wrap {
    .public-header {
        padding-top: 0.4rem;
        z-index: 2;
        .padding-box {
            padding-left: 1.066667rem;
        }
        .arr-btn {
            position: absolute;
            left: 0;
            width: 1.066667rem;
            height: 0.96rem;
            line-height: 0.96rem;
            text-align: center;
            a {
                display: block;
                color: #fff;
                i {
                    font-size: 0.6rem;
                }
            }
        }
    }
    .session_1 {
        background: #ff4c5c;
        padding-bottom: 0.266667rem;
        li {
            float: left;
            width: 25%;
            text-align: center;
            a {
                font-size: 14px;
                color: #fff;
                i {
                    font-size: 0.266667rem;
                }
            }
        }
    }
    .session_2 {
        .item-box {
            background: #fff;
            height: 3.733333rem;
            padding: 0.266667rem;
            border-bottom: 1px solid #ececec;
            .img-box {
                float: left;
                width: 3.2rem;
                height: 3.2rem;
                margin-right: 0.266667rem;
                img {
                    width: 100%;
                }
            }
            .info-box {
                .title-box {
                    color: #666;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-size: 14px;
                }
                .price {
                    display: inline-block;
                    color: #e93b3d;
                    font-size: 12px;
                    margin-top: 0.133333rem;
                    margin-bottom: 0.133333rem;
                    .int {
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
                .txt_1 {
                    position: relative;
                    font-size: 13px;
                    color: #333;
                    .nub-box {
                        float: right;
                        color: #999;
                    }
                }
            }
        }
    }
    .session_3 {
        height: 0.533333rem;
        line-height: 0.533333rem;
        text-align: center;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        p {
            margin-bottom: 0;
            img {
                height: 0.533333rem;
                margin-right: 0.133333rem;
            }
        }
    }
}

.pro_des-wrap {
    padding-bottom: 1.333333rem;
    .black-box {
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        z-index: 999;
        a {
            display: inline-block;
            width: 0.826667rem;
            height: 0.826667rem;
            background: rgba(000, 000, 000, .4);
            line-height: 0.826667rem;
            text-align: center;
            border-radius: 100%;
            i {
                font-size: 0.666667rem;
                color: #fff;
            }
        }
    }
    .banner-box {
        .img-box {
            img {
                width: 100%;
            }
        }
        .swiper-pagination-bullet-active {
            background: #ff4c5c;
        }
    }
    .session_1 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        font-size: 12px;
        margin-top: 0.4rem;
        color: #888;
        border-bottom: 1px solid #f1f1f1;
        .input-box {
            position: relative;
            padding-left: 1.733333rem;
            height: 0.8rem;
            box-sizing: border-box;
            margin-bottom: 0.133333rem;
            label {
                position: absolute;
                left: 0;
                line-height: 30px;
            }
            input {
                height: 0.8rem;
                border: 1px solid #d6d9ce;
                width: 100%;
                padding-left: 0.133333rem;
                padding-right: 0.133333rem;
                border-radius: 0.106667rem;
                font-size: 12px;
                &.w300 {
                    width: 4.0rem;
                }
            }
            &.mb0 {
                height: 0.533333rem;
                line-height: 0.533333rem;
            }
            .info-box {
                a {
                    color: #ff4c5c;
                }
            }
        }
    }
    .session_2 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        font-size: 12px;
        color: #888;
        padding-top: 0.266667rem;
        .item-box {
            position: relative;
            padding-left: 1.733333rem;
            label {
                position: absolute;
                left: 0;
                text-align: right;
                width: 1.466667rem;
            }
        }
        .item_1 {
            .span-box {
                font-size: 0;
                span {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #d6d9ce;
                    padding-left: 0.2rem;
                    padding-right: 0.2rem;
                    line-height: 1;
                    padding-top: 0.133333rem;
                    padding-bottom: 0.133333rem;
                    font-size: 12px;
                    margin-right: 0.133333rem;
                    .iconfont {
                        display: none;
                        position: absolute;
                        right: -0.293333rem;
                        bottom: -0.16rem;
                        font-size: 0.6rem;
                        line-height: 1;
                        color: red;
                    }
                    &.active {
                        border: 1px solid red;
                        .iconfont {
                            display: block;
                        }
                    }
                    &.no {
                        border: 1px dashed #d6d9ce;
                    }
                }
            }
        }
        .item_2 {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            .span-box {
                font-size: 0;
                span {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #d6d9ce;
                    line-height: 1;
                    font-size: 12px;
                    margin-right: 0.133333rem;
                    padding: 0.08rem;
                    img {
                        width: 0.853333rem;
                        vertical-align: middle;
                    }
                    .iconfont {
                        display: none;
                        position: absolute;
                        right: -0.293333rem;
                        bottom: -0.16rem;
                        font-size: 0.6rem;
                        line-height: 1;
                        color: red;
                    }
                    &.active {
                        border: 1px solid red;
                        .iconfont {
                            display: block;
                        }
                    }
                    &.no {
                        border: 1px dashed #d6d9ce;
                    }
                }
            }
        }
        .item_3 {
            .nub-box {
                font-size: 0;
                .mui-numbox {
                    height: 0.666667rem;
                    font-size: 14px;
                }
                .mui-numbox .mui-numbox-input,
                .mui-numbox .mui-input-numbox {
                    font-size: 13px;
                }
                .mui-numbox [class*=numbox-btn],
                .mui-numbox [class*=btn-numbox] {
                    font-size: 14px;
                }
            }
        }
        .item_4 {
            margin-top: 0.266667rem;
            textarea {
                border: 1px solid #d6d9ce;
                height: 2.0rem;
                font-size: 12px;
                padding: 0.133333rem;
            }
        }
    }
    .session_3 {

        box-sizing: border-box;
        .title-top {
            text-align: center;
            font-size: 16px;
            color: #999;
            margin-bottom: 0.266667rem;
            background: rgb(248, 248, 248);
            height: 0.933333rem;
            line-height: 0.933333rem;
            font-size: 14px;
            &:before {
                display: inline-block;
                content: '';
                width: 0.666667rem;
                height: 1px;
                background: #999;
                margin-left: 0.266667rem;
                margin-right: 0.266667rem;
                vertical-align: middle;
            }
            &:after {
                display: inline-block;
                content: '';
                width: 0.666667rem;
                height: 1px;
                background: #999;
                margin-left: 0.266667rem;
                margin-right: 0.266667rem;
                vertical-align: middle;
            }
            .iconfont {
                font-size: 0.426667rem;
                vertical-align: middle;
                margin-right: 0.066667rem;
            }
        }
        .list-box {
            padding-left: 0.133333rem;
            white-space: nowrap;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
            font-size: 0;
            margin-bottom: 0.2rem;
        }
        .item-box {
            display: inline-block;
            width: 100%;
            padding-left: 0.133333rem;
            padding-right: 0.133333rem;
            box-sizing: border-box;
            .img-box {
                img {
                    width: 3.266667rem;
                    height: 3.2rem;
                }
            }
            .txt-box {
                margin-top: 0.133333rem;
                p {
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 13px;
                    line-height: 1.6;
                    margin-bottom: 0;
                }
                .botton-box {
                    span {
                        color: red;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .session_4 {
        .tab-box {
            height: 1.066667rem;
            line-height: 1.066667rem;
            background: #f8f8f8;
            span {
                float: left;
                width: 33.33%;
                text-align: center;
                font-size: 13px;
                color: #333;
                font-size: 13px;
                &.active {
                    background: #ff4c5c;
                    color: #fff;
                }
            }
        }
        .item-tab {
            display: none;
            &.active {
                display: block;
            }
        }
        .tab_1 {
            padding-top: 0.266667rem;
            .img-box {
                img {
                    max-width: 100%;
                }
            }
        }
        .tab_2 {
            padding-left: 0.333333rem;
            padding-right: 0.026667rem;
            box-sizing: border-box;
            dl {
                margin-top: 0.266667rem;
                dt {
                    font-size: 14px;
                    color: #ff4c5c;
                }
                dd {
                    p {
                        font-size: 12px;
                        margin-bottom: 0.133333rem;
                    }
                    .imgs-box {
                        .img-box {
                            text-align: left;
                            float: left;
                            width: 14%;
                            margin-bottom: 0.2rem;
                            margin-right: 0.266667rem;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .tab_3 {
            padding-left: 0.333333rem;
            padding-right: 0.333333rem;
            padding-top: 0.333333rem;
            padding-bottom: 0.133333rem;
            dl {
                dt {
                    font-size: 14px;
                    color: #ff4c5c;
                    margin-bottom: 0.066667rem;
                }
                dd {
                    margin-bottom: 0.266667rem;
                    p {
                        font-size: 12px;
                        margin-bottom: 0.133333rem;
                    }
                }
            }
        }
    }
    .footer-bottom {
        height: 1.2rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 1.2rem;
        text-align: center;
        background: #fff;
        z-index: 999;
        box-shadow: 0 0 0.133333rem rgba(000, 000, 000, .1);
        span {
            float: left;
            width: 50%;
            font-size: 14px;
            color: #888;
            .iconfont {
                margin-right: 0.133333rem;
            }
            &.shop-cart {
                background: #ff4c5c;
                color: #fff;
                .iconfont {
                    font-size: 0.466667rem;
                }
            }
        }
    }
}

.daigou-wrap {
    .session_1 {
        text-align: center;
        color: #fff;
        margin-top: 1.333333rem;
        h3 {
            img {
                height: 0.533333rem;
            }
        }
        span {
            position: relative;
            font-size: 0.346667rem;
            em {
                display: inline-block;
                width: 0.533333rem;
            }
            &:before {
                position: absolute;
                content: '';
                width: 0.666667rem;
                height: 1px;
                background: #fff;
                opacity: .8;
                left: -0.866667rem;
                top: 0.2rem;
            }
            &:after {
                position: absolute;
                content: '';
                width: 0.666667rem;
                height: 1px;
                background: #fff;
                right: -0.866667rem;
                top: 0.2rem;
                opacity: .8;
            }
        }
        .icon-box {
            margin-top: 0.666667rem;
            margin-bottom: 0.4rem;
            i {
                font-size: 1.333333rem;
            }
        }
    }
    .session_2 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        .title {
            text-align: center;
            margin-bottom: 0.4rem;
            margin-top: 0.533333rem;
            span {
                display: inline-block;
                color: #fff;
                font-size: 0.4rem;
                margin-bottom: 0.133333rem;
            }
            p {
                font-size: 0.32rem;
                color: #fff;
                line-height: 1.4;
            }
        }
        .list-box {
            padding-left: 0.333333rem;
            padding-right: 0.333333rem;
            box-sizing: border-box;
        }
        .item-box {
            position: relative;
            background: #fff;
            height: 2.666667rem;
            padding-top: 0.333333rem;
            padding-bottom: 0.333333rem;
            box-sizing: border-box;
            border-radius: 0.2rem;
            margin-bottom: 0.333333rem;
            padding-left: 2.133333rem;
            .img-box {
                position: absolute;
                left: 0;
                img {
                    height: 2.0rem;
                }
            }
            .txt-box {
                position: absolute;
                left: 2.4rem;
                right: 0.2rem;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.373333rem;
                p {
                    color: #333;
                    font-size: 0.346667rem;
                    line-height: 1.6;
                    margin-bottom: 0;
                }
            }
        }
        .other-list {
            .item-box {
                &:nth-child(1) {
                    .txt-box {
                        left: 3.333333rem;
                    }
                }
                &:nth-child(2) {
                    .txt-box {
                        left: 4.0rem;
                    }
                }
            }
        }
    }
    .session_3 {
        text-align: center;
        margin-top: 0.666667rem;
        img {
            height: 1.333333rem;
        }
    }
    .session_4 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        margin-top: 0.666667rem;
        .title {
            text-align: center;
            font-size: 0.4rem;
            border-top: 1px dashed #fff;
            padding-top: 0.666667rem;
            color: #fff;
            font-weight: 700;
            span {
                position: relative;
                display: inline-block;
                width: 0.8rem;
                height: 1px;
                background: #fff;
                vertical-align: middle;
                margin-left: 0.266667rem;
                margin-right: 0.266667rem;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0.16rem;
                    height: 0.16rem;
                    background: #fff;
                    right: -0.08rem;
                    top: -0.08rem;
                    border-radius: 100%;
                }
                &:last-child {
                    &:before {
                        left: -0.08rem;
                        right: auto;
                    }
                }
            }
        }
        .all-box {
            margin-top: 0.4rem;
            background: #fff;
            border-radius: 0.106667rem;
            .item-box {
                float: left;
                width: 33.33%;
                text-align: center;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                box-sizing: border-box;
                padding-top: 0.266667rem;
                .icon-box {
                    margin-bottom: 0.133333rem;
                    img {
                        height: 1.333333rem;
                        border: 1px solid rgba(000, 000, 000, .1);
                        border-radius: 100%;
                    }
                }
                p {
                    color: #333;
                    font-size: 0.32rem;
                    line-height: 1.4;
                    text-align: left;
                }
            }
        }
    }
    .session_5 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        margin-top: 0.666667rem;
        .title {
            text-align: center;
            font-size: 0.4rem;
            color: #fff;
            font-weight: 700;
            span {
                position: relative;
                display: inline-block;
                width: 0.8rem;
                height: 1px;
                background: #fff;
                vertical-align: middle;
                margin-left: 0.266667rem;
                margin-right: 0.266667rem;
                &:before {
                    position: absolute;
                    content: '';
                    width: 0.16rem;
                    height: 0.16rem;
                    background: #fff;
                    right: -0.08rem;
                    top: -0.08rem;
                    border-radius: 100%;
                }
                &:last-child {
                    &:before {
                        left: -0.08rem;
                        right: auto;
                    }
                }
            }
        }
        .all-box {
            margin-top: 0.4rem;
            background: #fff;
            border-radius: 0.106667rem;
            .item-box {
                float: left;
                width: 33.33%;
                text-align: center;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                box-sizing: border-box;
                padding-top: 0.266667rem;
                .icon-box {
                    margin-bottom: 0.133333rem;
                    img {
                        height: 1.333333rem;
                        border: 1px solid rgba(000, 000, 000, .1);
                        border-radius: 100%;
                    }
                }
                p {
                    color: #333;
                    font-size: 0.32rem;
                    line-height: 1.4;
                    text-align: left;
                }
            }
        }
    }
    .session_6 {
        color: #fff;
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        margin-top: 0.533333rem;
        .title {
            text-align: center;
            margin-bottom: 0.533333rem;
            width: 5.066667rem;
            height: 1.2rem;
            padding-top: 0.226667rem;
            box-sizing: border-box;
            background: url(../images/icon_15.png) center center no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            margin-bottom: 0.4rem;
        }
        dl {
            margin-bottom: 0.266667rem;
            dt {
                font-size: 0.373333rem;
                margin-bottom: 0.133333rem;
            }
            dd {
                font-size: 0.32rem;
                line-height: 1.6;
                color: rgba(255, 255, 255, .9);
            }
        }
    }
}

.transfer-wrap {
    .session_1 {
        height: 4.2rem;
        background: #fff url(../images/icon_16.png) center top no-repeat;
        background-size: 100% auto;
        text-align: center;
        box-sizing: border-box;
    }
    .session_2 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        background: #fff;
        padding-top: 0.4rem;
        box-sizing: border-box;
        padding-bottom: 0.333333rem;
        .title {
            position: relative;
            font-size: 0.373333rem;
            padding-left: 0.266667rem;
            line-height: 0.666667rem;
            h3{
              font-size: 0.373333rem;
              line-height: 0.666667rem;
              font-weight: 400;
              margin-bottom: 0;
            }
            p{
                font-size: 0.32rem;
            }
            &:before {
                position: absolute;
                width: 0.08rem;
                height: 0.4rem;
                content: '';
                background: #e98053;
                left: 0;
                top: 0.106667rem;
                border-radius: 0.4rem;
            }
        }
        .info-box {
            padding: 0.4rem;
            box-sizing: border-box;
            border-radius: 0.266667rem;
            box-shadow: 0 0 0.213333rem rgba(000, 000, 000, .1);
            p {
                position: relative;
                line-height: 1.6;
                font-size: 0.346667rem;
                padding-left: 1.733333rem;
                margin-bottom: 0.133333rem;
                span {
                    position: absolute;
                    left: 0;
                }
                &:nth-child(1) {
                    span {
                        letter-spacing: 0.133333rem;
                    }
                }
                &:nth-child(3),
                &:nth-child(4) {
                    span {
                        letter-spacing: 0.293333rem;
                    }
                }
            }
        }
    }
    .session_3 {
        background: #fff;
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        padding-top: 0.266667rem;
        padding-bottom: 0.013333rem;
        margin-top: 0.266667rem;
        .title {
            margin-bottom: 0.4rem;
            h3 {
                position: relative;
                font-size: 0.373333rem;
                line-height: 0.666667rem;
                padding-left: 0.266667rem;
                font-weight: 400;
                &:before {
                    position: absolute;
                    width: 0.08rem;
                    height: 0.4rem;
                    content: '';
                    background: #e98053;
                    left: 0;
                    top: 0.106667rem;
                    border-radius: 0.4rem;
                }
            }
            p {
                font-size: 0.32rem;
                line-height: 1.6;
            }
        }
    }
    .session_4 {
        background: #fff;
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        margin-bottom: 0.4rem;
        padding-bottom: 0.266667rem;
        .item-box {
            position: relative;
            font-size: 0.346667rem;
            color: #8f8f94;
            padding-top: 0.333333rem;
            padding-bottom: 0.333333rem;
            border-top: 1px solid rgba(000, 000, 000, .1);
            .iconfont {
                position: absolute;
                right: 0;
                top: 0.4rem;
            }
            .txt_1 {
                font-size: 0.4rem;
                color: #333;
                margin-bottom: 0.066667rem;
                span {
                    display: inline-block;
                    margin-right: 0.666667rem;
                }
            }
            .txt_2 {
                font-size: 0.32rem;
                span {
                    display: inline-block;
                    width: 5.333333rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                }
                em {
                    font-style: normal;
                    margin-left: 0.266667rem;
                    vertical-align: middle;
                }
            }
        }
    }
    .session_5 {
        text-align: center;
        padding-bottom: 0.8rem;
        font-size: 0;
        .btn {
            display: inline-block;
            background: #ff2f2f;
            color: #fff;
            width: 4.0rem;
            margin-right: 0.266667rem;
            margin-left: 0.266667rem;
            line-height: 1.0rem;
            border-radius: 0.133333rem;
            cursor: pointer;
            font-size: 0.373333rem;
            &:first-child {
                background: #fe6f2d;
            }
        }
    }
}

.add_express-wrap {
    .del{
        text-align: right;
        font-size: 0.373333rem;
        color:red;
        margin-top: 0.266667rem;
        padding-right: 0.266667rem;
    }
    .session_1 {
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        .input-box {
            position: relative;
            padding-left: 2.0rem;
            box-sizing: border-box;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            border-bottom: 1px solid #e4e4e4;
            select,
            input {
                line-height: 0.8rem;
                height: 0.8rem;
                margin-bottom: 0;
                padding: 0;
                font-size: 0.373333rem;
                border: none;
                outline: none;
                width: 90%;
            }
            label {
                position: absolute;
                left: 0;
                top: 0.333333rem;
                font-size: 0.373333rem;
                color: #323232;
            }
            textarea {
                margin-bottom: 0;
                padding: 0;
                font-size: 0.373333rem;
                outline: none;
                width: 100%;
                height: 2.133333rem;
                padding: 0.2rem;
                box-sizing: border-box;
                border: 1px solid rgba(000, 000, 000, .2);
            }
            &:last-child {
                border-bottom: none;
                padding-left: 0;
            }
        }
    }
    .session_2 {
        .btn {
            display: block;
            background: #ff2f2f;
            color: #fff;
            margin-right: 0.266667rem;
            margin-left: 0.266667rem;
            line-height: 1.066667rem;
            border-radius: 0.133333rem;
            cursor: pointer;
            font-size: 0.373333rem;
            text-align: center;
        }
    }
    
}
.shop_cart-wrap{
    .session_1{
        padding-left: 0.266667rem;
        padding-right: 0.266667rem;
        box-sizing: border-box;
        padding-top: 0.4rem;
        background: #ff4c5c;
        padding-bottom: 1.333333rem;
        box-sizing: border-box;
        margin-bottom: -1.066667rem;
        .edi-box{
            text-align: left;
            font-size: 0.373333rem;
            color:#fff;
            margin-bottom: 0.266667rem;
            span{
                float: right;
            }
            h3{
                font-weight: 400;
                font-size: 0.466667rem;
                margin-bottom: 0;
                em{
                    font-style: normal;
                    font-size: 0.373333rem;
                    margin-left: 0.133333rem;
                }
            }
            p{
                color:#fff;
                font-size: 0.32rem;
            }
        }
    }
    .session_2{
        position: relative;
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        padding-bottom: 2.533333rem;
        .item-box{
            position: relative;
            background: #fff;
            height: 3.333333rem;
            padding-top: 0.333333rem;
            padding-bottom: 0.333333rem;
            padding-left: 1.133333rem;
            padding-right: 0.2rem;
            border-radius: 0.106667rem;
            margin-bottom: 0.266667rem;
            .select{
                position: absolute;
                left: 0.2rem;
                top: 50%;
                transform: translateY(-50%);
                i{
                    font-size: 0.666667rem;
                    &.icon-round{
                        color:#ccc;
                    }
                    &.icon-roundcheckfill{
                        color:red;
                    }
                }
            }
            .img-box{
                width: 2.666667rem;
                height: 2.666667rem;
                background-size: cover;
                background-position: 50%;
                float: left;
                margin-right: 0.266667rem;
            }
            .txt-box{
                position: relative;
                h3{
                    font-weight: 400;
                    font-size: 0.373333rem;
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 1.4;
                }
                .txt_1{
                    margin-bottom: 0;
                    font-size: 0.32rem;
                }
                .txt_2{
                    color:red;
                    margin-top: 0.2rem;
                    margin-bottom: 0;
                    em{
                        font-style: normal;
                        font-size: 0.4rem;
                    }
                }
                .nub-box {
                    position: absolute;
                    right: 0;
                    bottom: -0.066667rem;
                    font-size: 0;
                    .mui-numbox {
                        height: 0.666667rem;
                        font-size: 14px;
                        width: 2.4rem;
                        padding-left: 0.4rem;
                        padding-right: 0.4rem;
                        text-align: center;
                    }
                    .mui-numbox .mui-numbox-input,{
                        position: relative;
                        z-index: 1;
                        font-size: 13px;
                        width: 0.8rem!important;

                    }
                    .mui-numbox [class*=numbox-btn],
                    .mui-numbox [class*=btn-numbox] {
                        font-size: 14px;
                        width: 0.8rem;
                    }
                }
            }
        }
    }
    .account-box{
        position: fixed;
        bottom: 1.333333rem;
        background: #fff;
        left: 0;
        right: 0;
        padding-left: 0.333333rem;
        padding-right: 0.333333rem;
        box-sizing: border-box;
        height: 1.133333rem;
        z-index: 999;
        .left-box{
            float: left;
            color:#666666;
            font-size: 0.32rem;
            margin-top: 0.266667rem;
            i{
                display: inline-block;
                vertical-align: middle;
                font-size: 0.666667rem;
                margin-right: 0.133333rem;
                &.icon-round{
                    color:#ccc;
                }
                &.icon-roundcheckfill{
                    color:red;
                }
            }
        }
        .right-box{
            float: right;
            font-size: 0.32rem;
            color:#666;
            margin-top: 0.133333rem;
            span{
                color:red;
                font-size: 0.373333rem;
                i{
                    font-style: normal;
                }
            }
            em{
                display: inline-block;
                font-style: normal;
                padding-top: 0.266667rem;
                padding-bottom: 0.266667rem;
                background: red;
                line-height: 1;
                padding-left:0.266667rem;
                padding-right: 0.266667rem;
                border-radius: 0.4rem;
                color:#fff;
                margin-left: 0.133333rem;
                i{
                    font-style: normal;
                }
            }
        }
        .other-box{
            display: none;
            position: absolute;
            right: 0;
            height: 1.133333rem;
            line-height: 1.133333rem;
            background: #fff;
            width:6.666667rem;
            text-align: right;
            font-size: 0;
            padding-right: 0.266667rem;
            box-sizing: border-box;
            span{
                display: inline-block;
                font-size: 0.346667rem;
                line-height: 1;
                border:1px solid #FC0A0A;
                padding-top: 0.133333rem;
                padding-bottom: 0.133333rem;
                vertical-align: middle;
                padding-left: 0.266667rem;
                padding-right: 0.266667rem;
                border-radius: 0.4rem;
                margin-left: 0.266667rem;
                color:#FC0A0A;
                &.favorite-btn{
                    border-color:#FF5000;
                    color:#FF5000;
                }
            }
        }
    }
}