.login-wrap .banenr-box img {
  width: 100%;
}
.login-wrap .logo-box {
  text-align: center;
  height: 1.333333rem;
  line-height: 1.333333rem;
  text-align: left;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  box-sizing: border-box;
}
.login-wrap .logo-box img {
  height: 0.8rem;
}
.login-wrap .session_1 {
  position: relative;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  padding-top: 0.666667rem;
}
.login-wrap .session_1 .title-box {
  text-align: center;
  margin-bottom: 0.666667rem;
}
.login-wrap .session_1 .title-box span {
  position: relative;
  display: inline-block;
  color: #ff4c5c;
  font-weight: 700;
  font-size: 16px;
}
.login-wrap .session_1 .title-box span:before {
  left: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ff4c5c;
}
.login-wrap .session_1 .title-box span:after {
  right: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ff4c5c;
}
.login-wrap .session_1 .tab-box {
  text-align: center;
  font-size: 0;
  margin-top: 0.4rem;
}
.login-wrap .session_1 .tab-box span {
  font-size: 14px;
  padding-bottom: 0.133333rem;
  border-bottom: 2px solid transparent;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.login-wrap .session_1 .tab-box span.active {
  color: #ff4c5c;
  position: relative;
}
.login-wrap .session_1 .tab-box span.active:before {
  position: absolute;
  content: '';
  width: 90%;
  height: 2px;
  background: #ff4c5c;
  bottom: 0;
  left: 5%;
}
.login-wrap .session_1 .form-box {
  display: none;
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  margin-top: 0.533333rem;
}
.login-wrap .session_1 .form-box.active {
  display: block;
}
.login-wrap .session_1 .form-box .input-box {
  position: relative;
  margin-top: 0.133333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
.login-wrap .session_1 .form-box .input-box span {
  position: absolute;
  left: 0.133333rem;
  top: 0.04rem;
  bottom: 0;
  font-size: 0.453333rem;
}
.login-wrap .session_1 .form-box .input-box input {
  width: 100%;
  padding-left: 0.8rem;
  border: none;
  outline: none;
  font-size: 14px;
}
.login-wrap .session_1 .form-box .input-box.code input {
  width: 50%;
}
.login-wrap .session_1 .form-box .input-box.code .img-box {
  position: absolute;
  right: 0;
  top: 0;
}
.login-wrap .session_1 .form-box .input-box.code .img-box img {
  height: 0.666667rem;
}
.login-wrap .session_1 .form-box .other-box {
  margin-top: 0.2rem;
}
.login-wrap .session_1 .form-box .other-box a {
  color: #ff4c5c;
}
.login-wrap .session_1 .form-box .other-box a.right {
  float: right;
}
.login-wrap .session_1 .form-box .note-box {
  position: relative;
}
.login-wrap .session_1 .form-box .note-box span {
  top: 0.053333rem;
  vertical-align: middle;
}
.login-wrap .session_1 .form-box .note-box .btn {
  position: absolute;
  right: 0;
  border: 1px solid #ff4c5c;
  border-radius: 0.4rem;
  font-size: 14px;
  color: #ff4c5c;
  width: 2.666667rem;
  height: 0.733333rem;
  line-height: 0.733333rem;
  top: 0.08rem;
  cursor: pointer;
  padding: 0;
  text-align: center;
  background: transparent!important;
}
.login-wrap .session_1 .form-box .sub-box {
  margin-top: 0.666667rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #ff4c5c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 0.666667rem;
  cursor: pointer;
}
.login-wrap .session_2 {
  margin-top: 0.666667rem;
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  box-sizing: border-box;
  padding-bottom: 0.666667rem;
}
.login-wrap .session_2 .title-box {
  height: 0.666667rem;
  line-height: 0.666667rem;
  position: relative;
  text-align: center;
}
.login-wrap .session_2 .title-box:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #ddd;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
.login-wrap .session_2 .title-box span {
  position: relative;
  display: inline-block;
  color: #999999;
  font-size: 14px;
  background: #fff;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.login-wrap .session_2 .list-box {
  text-align: center;
  font-size: 0;
  margin-top: 0.4rem;
}
.login-wrap .session_2 .list-box .item-box {
  display: inline-block;
  margin-left: 0.533333rem;
  margin-right: 0.533333rem;
}
.login-wrap .session_2 .list-box .item-box span {
  font-size: 0.933333rem;
  color: #52aae6;
  vertical-align: top;
}
.login-wrap .session_2 .list-box .item-box p {
  font-size: 14px;
}
.login-wrap .session_2 .list-box .item-box:last-child span {
  color: #46bb35;
}
.register-wrap .banenr-box img {
  width: 100%;
}
.register-wrap .logo-box {
  text-align: center;
  height: 1.333333rem;
  line-height: 1.333333rem;
  text-align: left;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  box-sizing: border-box;
}
.register-wrap .logo-box img {
  height: 0.8rem;
}
.register-wrap .session_1 {
  position: relative;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  padding-top: 0.666667rem;
}
.register-wrap .session_1 .title-box {
  text-align: center;
  margin-bottom: 0.666667rem;
}
.register-wrap .session_1 .title-box span {
  position: relative;
  display: inline-block;
  color: #ff4c5c;
  font-weight: 700;
  font-size: 16px;
}
.register-wrap .session_1 .title-box span:before {
  left: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ff4c5c;
}
.register-wrap .session_1 .title-box span:after {
  right: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ff4c5c;
}
.register-wrap .session_1 .form-box {
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  margin-top: 0.533333rem;
}
.register-wrap .session_1 .form-box .input-box {
  position: relative;
  margin-top: 0.133333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
.register-wrap .session_1 .form-box .input-box span {
  position: absolute;
  left: 0.133333rem;
  top: 0.04rem;
  bottom: 0;
  font-size: 0.453333rem;
}
.register-wrap .session_1 .form-box .input-box input {
  width: 100%;
  padding-left: 0.8rem;
  border: none;
  outline: none;
  font-size: 14px;
}
.register-wrap .session_1 .form-box .input-box.code input {
  width: 50%;
}
.register-wrap .session_1 .form-box .input-box.code .img-box {
  position: absolute;
  right: 0;
  top: 0;
}
.register-wrap .session_1 .form-box .input-box.code .img-box img {
  height: 0.666667rem;
}
.register-wrap .session_1 .form-box .other-box {
  text-align: right;
  margin-top: 0.266667rem;
}
.register-wrap .session_1 .form-box .other-box a {
  color: #ff4c5c;
  margin-left: 0.133333rem;
  display: inline-block;
}
.register-wrap .session_1 .form-box .sub-box {
  margin-top: 0.666667rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #ff4c5c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 0.666667rem;
  cursor: pointer;
}
.register-wrap .session_2 {
  margin-top: 0.666667rem;
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  box-sizing: border-box;
  padding-bottom: 0.666667rem;
}
.register-wrap .session_2 .title-box {
  height: 0.666667rem;
  line-height: 0.666667rem;
  position: relative;
  text-align: center;
}
.register-wrap .session_2 .title-box:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #ddd;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
.register-wrap .session_2 .title-box span {
  position: relative;
  display: inline-block;
  color: #999999;
  font-size: 14px;
  background: #fff;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.register-wrap .session_2 .list-box {
  text-align: center;
  font-size: 0;
  margin-top: 0.4rem;
}
.register-wrap .session_2 .list-box .item-box {
  display: inline-block;
  margin-left: 0.533333rem;
  margin-right: 0.533333rem;
}
.register-wrap .session_2 .list-box .item-box span {
  font-size: 0.933333rem;
  color: #52aae6;
  vertical-align: top;
}
.register-wrap .session_2 .list-box .item-box p {
  font-size: 14px;
}
.register-wrap .session_2 .list-box .item-box:last-child span {
  color: #46bb35;
}
.register_succ-wrap .logo-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  box-sizing: border-box;
}
.register_succ-wrap .logo-box img {
  height: 0.666667rem;
}
.register_succ-wrap .session_1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-60%);
  text-align: center;
}
.register_succ-wrap .session_1 .iconfont {
  display: inline-block;
  font-size: 50px;
  color: #ff4c5c;
  margin-bottom: 0.266667rem;
}
.register_succ-wrap .session_1 p {
  font-size: 16px;
  color: #ff4c5c;
  font-weight: 700;
}
.register_succ-wrap .session_1 .img-box {
  margin-top: 0.4rem;
}
.register_succ-wrap .session_1 .img-box img {
  width: 5.333333rem;
}
.register_succ-wrap .session_1 .link-btn {
  display: inline-block;
  margin-top: 0.666667rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  line-height: 1.066667rem;
  background: #ff4c5c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 0.666667rem;
  cursor: pointer;
}
.register_weixin-wrap .banner-box img {
  width: 100%;
}
.register_weixin-wrap .logo-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  box-sizing: border-box;
}
.register_weixin-wrap .logo-box img {
  height: 0.666667rem;
}
.register_weixin-wrap .session_1 {
  margin-top: 0.666667rem;
  text-align: center;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
}
.register_weixin-wrap .session_1 .title-box {
  text-align: center;
  margin-bottom: 0.666667rem;
}
.register_weixin-wrap .session_1 .title-box span {
  position: relative;
  display: inline-block;
  color: #999999;
  font-size: 14px;
}
.register_weixin-wrap .session_1 .title-box span em {
  color: #ff4c5c;
  font-weight: 700;
}
.register_weixin-wrap .session_1 .title-box span:before {
  left: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ddd;
}
.register_weixin-wrap .session_1 .title-box span:after {
  right: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ddd;
}
.register_weixin-wrap .session_1 .form-box {
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  margin-top: 0.533333rem;
  text-align: left;
}
.register_weixin-wrap .session_1 .form-box .input-box {
  position: relative;
  margin-top: 0.133333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
.register_weixin-wrap .session_1 .form-box .input-box span {
  position: absolute;
  left: 0.133333rem;
  top: 0.04rem;
  bottom: 0;
  font-size: 0.453333rem;
}
.register_weixin-wrap .session_1 .form-box .input-box input {
  width: 100%;
  padding-left: 0.8rem;
  border: none;
  outline: none;
  font-size: 14px;
}
.register_weixin-wrap .session_1 .form-box .input-box.code input {
  width: 50%;
}
.register_weixin-wrap .session_1 .form-box .input-box.code .img-box {
  position: absolute;
  right: 0;
  top: 0;
}
.register_weixin-wrap .session_1 .form-box .input-box.code .img-box img {
  height: 0.666667rem;
}
.register_weixin-wrap .session_1 .form-box .sub-box {
  margin-top: 0.666667rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #ff4c5c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 0.666667rem;
  cursor: pointer;
}
.recharge-wrap .logo-box {
  margin-top: 0.666667rem;
  text-align: center;
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  box-sizing: border-box;
}
.recharge-wrap .logo-box img {
  height: 0.666667rem;
}
.recharge-wrap .session_1 {
  margin-top: 0.333333rem;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
}
.recharge-wrap .session_1 .bg-box {
  background: #f3fdea;
  padding: 0.266667rem;
  border: 1px dashed #d5eeb9;
  font-size: 13px;
}
.recharge-wrap .session_1 .bg-box p {
  line-height: 1.8;
}
.recharge-wrap .session_1 .title-box {
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.recharge-wrap .session_1 .title-box span {
  position: relative;
  display: inline-block;
  color: #ff4c5c;
  font-weight: 700;
  font-size: 16px;
}
.recharge-wrap .session_1 .title-box span:before {
  left: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ff4c5c;
}
.recharge-wrap .session_1 .title-box span:after {
  right: -0.6rem;
  top: 0.266667rem;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 1px;
  background: #ff4c5c;
}
.recharge-wrap .session_2 {
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  margin-top: 0.4rem;
  box-sizing: border-box;
  overflow: hidden;
}
.recharge-wrap .session_2 .tab-box {
  font-size: 0;
  border-bottom: 1px solid #ff4c5c;
}
.recharge-wrap .session_2 .tab-box span {
  display: inline-block;
  font-size: 13px;
  line-height: 2;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  color: #ff4c5c;
}
.recharge-wrap .session_2 .tab-box span.active {
  background: #ff4c5c;
  color: #fff;
}
.recharge-wrap .session_2 .list-item .item-form {
  display: none;
  padding-top: 0.4rem;
}
.recharge-wrap .session_2 .list-item .item-form.active {
  display: block;
}
.recharge-wrap .session_2 .list-item .item-form h3 {
  margin-bottom: 0.266667rem;
}
.recharge-wrap .session_2 .list-item .item-form h3 img {
  height: 0.533333rem;
  vertical-align: bottom;
  margin-right: 0.066667rem;
}
.recharge-wrap .session_2 .list-item .item-form h3 a {
  font-weight: 400;
  color: #666;
  font-size: 12px;
}
.recharge-wrap .session_2 .list-item .item-form p {
  font-size: 13px;
}
.recharge-wrap .session_2 .title {
  font-size: 14px;
  color: #ff4c5c;
  margin-top: 0.333333rem;
  margin-bottom: 0.133333rem;
  font-weight: 700;
  border-top: 1px dashed #e4e4e4;
  padding-top: 0.266667rem;
}
.recharge-wrap .session_2 .checkbox-box .item-box {
  margin-bottom: 0;
  padding-top: 0;
  width: 50%;
  float: left;
  height: 1.066667rem;
  line-height: 1.066667rem;
}
.recharge-wrap .session_2 .checkbox-box .item-box label {
  display: inline-block;
}
.recharge-wrap .session_2 .checkbox-box .item-box label .iconfont {
  vertical-align: middle;
  font-size: 16px;
  margin-right: 0.066667rem;
  position: relative;
  top: -0.04rem;
}
.recharge-wrap .session_2 .checkbox-box .item-box.other-item {
  width: 100%;
}
.recharge-wrap .session_2 .checkbox-box .item-box.other-item input.nub {
  width: 2.666667rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border: 1px solid #ccc;
  height: 0.666667rem;
  line-height: 0.666667rem;
  border-radius: 0.133333rem;
  font-size: 14px;
  margin-bottom: 0;
}
.recharge-wrap .session_2 .checkbox-box .item-box.active {
  color: #ff4c5c;
}
.recharge-wrap .session_2 .msg-box {
  font-size: 12px;
  margin-top: 0.266667rem;
  color: #333;
}
.recharge-wrap .session_2 .msg-box span,
.recharge-wrap .session_2 .msg-box em {
  color: #ff4c5c;
}
.recharge-wrap .session_2 .msg-box span {
  font-weight: 700;
}
.recharge-wrap .session_2 .sub-btn {
  margin-top: 0.666667rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #ff4c5c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 0.666667rem;
  cursor: pointer;
}
.recharge-wrap .session_2 .other_item-form .info-box h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-bottom: 0.066667rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .form-box .input-box {
  position: relative;
  margin-top: 0.133333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
.recharge-wrap .session_2 .other_item-form .info-box .form-box .input-box span {
  position: absolute;
  left: 0.133333rem;
  top: 0;
  bottom: 0;
  font-size: 0.453333rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .form-box .input-box input {
  width: 100%;
  padding-left: 0.8rem;
  border: none;
  outline: none;
  font-size: 14px;
}
.recharge-wrap .session_2 .other_item-form .info-box .form-box .info-input {
  padding-top: 0.133333rem;
  font-size: 12px;
  color: #ff4c5c;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box {
  margin-top: 0.4rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .way-item {
  display: none;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .way-item.active {
  display: block;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .title-box {
  font-size: 14px;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .title-box em {
  margin-left: 0.133333rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .title-box em span {
  vertical-align: middle;
  margin-right: 0.066667rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .title-box em.active {
  color: #ff4c5c;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .msg-box {
  background: #f3f3f3;
  border: 1px dotted #e6e6e6;
  padding: 0.133333rem 0.266667rem ;
  margin-top: 0.266667rem;
  margin-bottom: 0.266667rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .msg-box p {
  line-height: 1.8;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .msg-box p a {
  color: #ff4c5c;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .info-box {
  margin-bottom: 0.266667rem;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .info-box p {
  font-size: 14px;
  color: #ff4c5c;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .form-box .input-box {
  position: relative;
  padding-left: 1.333333rem;
  border-bottom: 0;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .form-box .input-box:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 3.066667rem;
  right: 0;
  background: #dddddd;
  height: 1px;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .form-box .input-box em {
  position: absolute;
  left: 0;
  width: 2.8rem;
  text-align: right;
  font-size: 14px;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .form-box .input-box input {
  padding-left: 1.866667rem;
  padding-right: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  line-height: 1;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .form-box .input-box i {
  position: absolute;
  right: 0;
  top: 0;
  font-style: normal;
}
.recharge-wrap .session_2 .other_item-form .info-box .way-box .form-box .info-input {
  color: #333;
  margin-bottom: 0.266667rem;
  padding-left: 0.266667rem;
  line-height: 1.6;
}
.pay_succ-wrap .logo-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  box-sizing: border-box;
}
.pay_succ-wrap .logo-box img {
  height: 0.666667rem;
}
.pay_succ-wrap .session_1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-60%);
  text-align: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.pay_succ-wrap .session_1 .iconfont {
  display: inline-block;
  font-size: 50px;
  color: #ff4c5c;
  margin-bottom: 0.266667rem;
}
.pay_succ-wrap .session_1 p {
  font-size: 16px;
  color: #ff4c5c;
  font-weight: 700;
}
.pay_succ-wrap .session_1 .img-box {
  margin-top: 0.4rem;
}
.pay_succ-wrap .session_1 .img-box img {
  width: 5.333333rem;
}
.pay_succ-wrap .session_1 .link-btn {
  display: block;
  margin-top: 0.666667rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #ff4c5c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 0.666667rem;
  cursor: pointer;
}
input[type='submit'],
.mui-btn-primary,
.mui-btn-blue {
  background: #ff4c5c;
  border-color: #ff4c5c;
}
/*# sourceMappingURL=style.css.map */