body {
  font-family: "Microsoft Yahei", "微软雅黑", "Hiragino Sans GB", "Microsoft Yahei UI";
}
h3 {
  font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑";
}
.index-title h3 {
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
.ccc1c27 {
  color: #cc1c27;
}
.big_addw {
  transform: scale(1.2);
  transition: all 1s;
}
.big_rew {
  transform: scale(1);
  transition: all 1s;
}
.header-top {
  background: #cc1c27;
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: #ffffff;
}
.header-top .share-box {
  float: left;
  display: inline;
  font-size: 0;
}
.header-top .share-box > a {
  margin-right: 9px;
}
.header-top .conn-box {
  float: right;
  display: inline;
}
.header-top .conn-box span {
  margin-left: 30px;
}
.header-top .conn-box span .icon-email {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: 9px;
  background: url('../img/icon/icon_email.png') center center no-repeat;
}
.header-top .conn-box span a {
  color: #fff;
}
.header-top .conn-box span .icon-call {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 11px;
  height: 17px;
  margin-right: 9px;
  background: url('../img/icon/icon_call.png') center center no-repeat;
}
.header .navbar-static-top {
  height: 100px;
  margin-bottom: 0;
}
.header .navbar-static-top .navbar-brand {
  margin-top: 20px;
}
.header .navbar-static-top .navbar-toggle {
  background: #efefef;
}
.header .navbar-static-top .navbar-toggle .icon-bar {
  background: #cc1c27;
}
.header .navbar-static-top .navbar-nav {
  margin-right: -10px;
  margin-top: 64px;
  float: right;
  display: inline;
}
.header .navbar-static-top .navbar-nav .active {
  background-color: #fff;
}
.header .navbar-static-top .navbar-nav li {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}
.header .navbar-static-top .navbar-nav li > a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 0;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}
.header .navbar-static-top .navbar-nav li > a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #cc1c27;
  background-color: #fff;
}
.header .navbar-static-top .navbar-nav li > a:focus {
  background: none;
}
.header .navbar-static-top .navbar-nav li .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #cc1c27;
  background-color: #fff;
}
.header .navbar-static-top .navbar-nav .nav-vfp {
  position: absolute;
  left: 0px;
  width: 94px;
  top: 36px;
  background: #fff;
  display: none;
}
.header .navbar-static-top .navbar-nav .nav-vfp a {
  display: block;
  font-size: 12px;
  color: #333;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.header .navbar-static-top .navbar-nav .nav-vfp a:hover {
  background: #cc1c27;
  color: #fff;
  text-decoration: none;
}
.header .navbar-static-top .navbar-nav .nav-vfp .active {
  background: #cc1c27;
  color: #fff;
  text-decoration: none;
}
.index-title {
  position: relative;
  text-align: center;
}
.index-title .title-text {
  width: 240px;
  margin: 0 auto;
  font-size: 24px;
}
.index-title .title-text a {
  color: #000;
}
.index-title .title-text h3 {
  margin: 0;
}
.index-title .title-text span {
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid #cc1c27;
  margin: 0 auto;
  color: #bbbbbb;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.index-title .title-text:before {
  position: absolute;
  content: '';
  width: 450px;
  height: 2px;
  background: #bbbbbb;
  top: 50%;
  right: 0px;
}
.index-title .title-text:after {
  position: absolute;
  content: '';
  width: 450px;
  height: 2px;
  top: 50%;
  background: #bbbbbb;
  left: 0px;
}
.pro-wrap {
  background: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 70px;
}
.pro-box {
  margin-top: 55px;
}
.pro-box .col-sm-4 .item {
  display: block;
  text-decoration: none;
  background: #ffffff url('../img/icon/icon_safety.png') 38px center no-repeat;
  padding-left: 120px;
  height: 143px;
  padding-top: 25px;
  overflow: hidden;
}
.pro-box .col-sm-4 .item h3 {
  margin-top: 0;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
}
.pro-box .col-sm-4 .item p {
  color: #bbbbbb;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;
}
.pro-box .col-sm-4 .item .en-text {
  position: relative;
  padding-bottom: 7px;
}
.pro-box .col-sm-4 .item .en-text:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 2px;
  background: #bbbbbb;
  bottom: 0;
}
.pro-box .col-sm-4 .item:hover {
  background: #cc1c27 url('../img/icon/icon_safety2.png') 38px center no-repeat;
}
.pro-box .col-sm-4 .item:hover h3 {
  color: #fff;
}
.pro-box .col-sm-4 .item:hover p {
  color: #fff;
}
.pro-box .col-sm-4 .item:hover .en-text:before {
  background: #fff;
}
.pro-box .col-sm-4:nth-child(2) .item {
  background: #ffffff url('../img/icon/icon_money2.png') 38px center no-repeat;
}
.pro-box .col-sm-4:nth-child(2) .item:hover {
  background: #cc1c27 url('../img/icon/icon_money.png') 38px center no-repeat;
}
.pro-box .col-sm-4:nth-child(3) .item {
  background: #ffffff url('../img/icon/icon_lock.png') 38px center no-repeat;
}
.pro-box .col-sm-4:nth-child(3) .item:hover {
  background: #cc1c27 url('../img/icon/icon_lock2.png') 38px center no-repeat;
}
.serve-wrap {
  height: 506px;
  width: 100%;
  padding-top: 85px;
  background: url(../img/serve-bg.jpg) center center no-repeat;
}
.serve-wrap .index-title h3 a {
  color: #fff;
}
.serve-wrap .index-title:before {
  background: #fff;
}
.serve-wrap .index-title:after {
  background: #fff;
}
.serve-wrap .index-title span {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.serve-wrap .serve-box {
  padding-top: 85px;
}
.serve-wrap .serve-box .item {
  background: #fff;
  height: 140px;
}
.serve-wrap .serve-box .item .img-box {
  float: left;
  width: 214px;
  height: 140px;
  overflow: hidden;
}
.serve-wrap .serve-box .item .img-box img {
  display: block;
}
.serve-wrap .serve-box .item .text-box {
  float: left;
  padding-left: 88px;
  margin-top: 5px;
  background: url('../img/icon/icon_star.png') 20px center no-repeat;
}
.serve-wrap .serve-box .item .text-box h3 {
  font-size: 18px;
  color: #666666;
}
.serve-wrap .serve-box .item .text-box p {
  color: #bbbbbb;
  font-size: 12px;
  line-height: 1;
}
.serve-wrap .serve-box .item .text-box .en-text {
  position: relative;
  padding-bottom: 7px;
}
.serve-wrap .serve-box .item .text-box .en-text:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 2px;
  background: #bbbbbb;
  bottom: 0;
}
.serve-wrap .serve-box .item2 .text-box {
  background: url('../img/icon/icon_notebook.png') 20px center no-repeat;
}
.about-wrap {
  background: #f4f4f4;
  padding-bottom: 60px;
  padding-top: 55px;
}
.about-wrap .text-box {
  padding-left: 150px;
  padding-right: 140px;
  text-align: center;
}
.about-wrap .text-box h3 {
  font-size: 24px;
  color: #cc1c27;
  margin: 0;
  margin-top: 50px;
  font-weight: bold;
}
.about-wrap .text-box p {
  line-height: 2;
  text-align: left;
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #999999;
}
.about-wrap .img-box {
  text-align: center;
}
.about-wrap .img-box .item {
  display: inline-block;
  width: 290px;
  height: 193px;
  overflow: hidden;
  vertical-align: top;
}
.coop-wrap {
  height: 506px;
  width: 100%;
  padding-top: 85px;
  background: url(../img/serve-bg.jpg) center center no-repeat;
}
.coop-wrap .index-title h3 a {
  color: #fff;
}
.coop-wrap .index-title:before {
  background: #fff;
}
.coop-wrap .index-title:after {
  background: #fff;
}
.coop-wrap .index-title span {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.coop-wrap .coop-box {
  margin-top: 100px;
}
.coop-wrap .coop-box .item {
  position: relative;
  background: #fff;
  height: 125px;
}
.coop-wrap .coop-box .item .item-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.coop-wrap .coop-box .item .item-box:nth-child(1) {
  width: 317px;
  height: 77px;
  overflow: hidden;
}
.coop-wrap .coop-box .item .item-box:nth-child(2) {
  width: 426px;
  height: 76px;
  overflow: hidden;
}
.coop-wrap .coop-box .col-md-6:nth-child(2) .item {
  margin-right: -15px;
}
.link-wrap {
  padding-top: 90px;
  padding-bottom: 60px;
  text-align: center;
}
.link-wrap h2 {
  color: #cc1c27;
  margin-top: 48px;
  margin-bottom: 30px;
}
.banner .text-box {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 999;
}
.banner .text-box .text-wrap1 {
  margin-top: 100px;
  color: #000;
  font-size: 18px;
}
.banner .text-box .text-wrap1 .title {
  margin-bottom: 20px;
}
.banner .text-box .text-wrap1 p {
  line-height: 1.5;
  margin: 0;
}
.banner .text-box .text-wrap1 .btn {
  margin-top: 40px;
  width: 135px;
  height: 45px;
  background: #fff;
  line-height: 31px;
  color: #e60012;
  font-size: 16px;
}
.banner .pagin {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 999;
}
.banner .pagin .swiper-pagination {
  position: static;
  text-align: left;
}
.banner .pagin .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  margin-right: 8px;
  opacity: 1;
  background: #9ca2aa;
  border: 1px solid #8d9299;
}
.banner .pagin .swiper-pagination-bullet-active {
  background: #cc1c27;
  border-color: #cc1c27;
}
.footer {
  background: #cc1c27;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer p {
  color: #fff;
  margin: 0;
  line-height: 2;
  font-size: 12px;
}
.footer p a {
  color: #fff;
  margin-left: 8px;
  margin-right: 8px;
}
.page_title {
  color: #fff;
  font-size: 24px;
  margin-top: 80px;
}
.page_title .big {
  font-size: 28px;
}
.page_banner {
  position: relative;
  height: 180px;
  width: 100%;
  background: url('../img/pro_banner.jpg') center center no-repeat;
  overflow: hidden;
}
.page_banner .title {
  color: #fff;
  font-size: 24px;
  margin-top: 80px;
}
.page_banner .title .big {
  font-size: 28px;
}
.pro_1 .wrap-box {
  position: relative;
  height: 180px;
  width: 100%;
  background: url(none) center center no-repeat;
  overflow: hidden;
  height: 328px;
  text-align: center;
}
.pro_1 .wrap-box .btn {
  padding: 14px 36px;
  position: absolute;
  top: 50%;
  margin-left: -65px;
  margin-top: -25px;
  left: 50%;
  font-size: 18px;
  background: #cc1c27;
}
.pro_1 .wrap-box-bottm {
  position: relative;
  overflow: hidden;
}
.pro_1 .wrap-box-bottm .text-box {
  top: 50%;
  position: absolute;
  margin-top: -44px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.pro_1 .info-box {
  padding-top: 95px;
  padding-bottom: 60px;
}
.pro_1 .info-box .col-md-6 {
  width: 65%;
}
.pro_1 .info-box .md6_1 {
  width: 35%;
}
.pro_1 .info-box .text-box {
  line-height: 2;
  color: #bbbbbb;
  font-size: 18px;
}
.pro_1 .info-box .text-box li {
  position: relative;
  list-style: none;
  padding-left: 25px;
}
.pro_1 .info-box .text-box li i {
  position: absolute;
  left: 0;
  color: #cc1c27;
  font-style: normal;
  font-weight: bold;
}
.pro_1 .info-box .text-box li .tab {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pro_2 .head-box {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.public-img-box-bottom {
  position: relative;
  height: 180px;
  width: 100%;
  background: url('../img/pro_2_bottom.jpg') center center no-repeat;
  height: 400px;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
.public-img-box-bottom .link-box {
  width: 500px;
  height: 85px;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 12px;
}
.public-img-box-bottom .link-box p span:nth-child(1) {
  display: inline-block;
  margin-right: 20px;
}
.public-img-box-bottom .text-box {
  font-size: 27px;
  font-weight: bold;
}
.pro_3 .img-all {
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
.pro_3 .img-all .img-box {
  margin-left: -15px;
  margin-right: -15px;
}
.pro_3 .img-all .img-box img {
  width: 100%;
}
.pro_3 .img-all .info-box {
  position: absolute;
  width: 350px;
  height: 150px;
  margin-left: -175px;
  margin-top: -75px;
  top: 50%;
  left: 50%;
  background: #cc1c27;
  z-index: 999;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  padding-top: 35px;
  line-height: 1.2;
}
.pro_3 .img-all .info-box p {
  font-size: 18px;
  margin-bottom: 8px;
}
.pro_3 .img-all .info-box span {
  font-size: 12px;
}
.pro_4 .liuc-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pro_4 .liuc-box img {
  width: 100%;
}
.pro_4 .flowline {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  padding-top: 185px;
  padding-bottom: 120px;
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}
.pro_4 .flowline .vertical {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 99.9%;
  background: #cc1c27;
}
.pro_4 .flowline .icon_box {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
  width: 130px;
  height: 130px;
  border: 2px solid #cc1c27;
  border-radius: 50%;
  text-align: center;
  background: #cc1c27;
  line-height: 130px;
  font-size: 20px;
  color: #fff;
}
.pro_4 .flowline .icon_box-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65px;
  width: 130px;
  height: 130px;
  border: 2px solid #cc1c27;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  background: #cc1c27;
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
}
.pro_4 .flowline .icon_box-btn p {
  margin-bottom: 0;
}
.pro_4 .flowline .public-ico-item {
  position: absolute;
  left: -65px;
  width: 130px;
  height: 130px;
  border: 2px solid #cc1c27;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  color: #cc1c27;
  line-height: 130px;
  font-size: 18px;
  font-weight: bold;
}
.pro_4 .flowline .item {
  position: relative;
  padding-left: 80px;
  float: left;
  width: 50.1%;
  padding-right: 100px;
  margin-bottom: 70px;
  height: 120px;
  color: #ff0000;
  background: #fff;
}
.pro_4 .flowline .item h3 {
  margin-top: 30px;
}
.pro_4 .flowline .fadeInLeft {
  float: left;
  text-align: right;
}
.pro_4 .flowline .fadeInLeft .public-ico-item {
  right: -60px;
  left: auto;
}
.pro_4 .flowline .fadeInRight {
  float: right;
}
.reg-wrap .public-title {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #cc1c27;
  color: #cc1c27;
}
.reg-wrap .about-banner {
  height: 680px;
  width: 100%;
  background: url("../img/about_banner2.jpg") center center no-repeat;
}
.reg-wrap .about-banner .info-box {
  width: 410px;
  height: 180px;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  padding-left: 70px;
  padding-top: 40px;
  margin-top: 120px;
  margin-bottom: 50px;
}
.reg-wrap .about-banner .text-box {
  font-size: 18px;
  color: #fff;
}
.reg-wrap .about-banner .text-box p {
  margin-top: 40px;
  line-height: 1.5;
}
.reg-wrap .platform-box .info-box p {
  line-height: 2;
  font-size: 18px;
  color: #999999;
}
.reg-wrap .platform-box .draw-img img {
  width: 100%;
}
.reg-wrap .platform-box .drawing-box {
  position: relative;
  width: 788px;
  height: 750px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.reg-wrap .platform-box .drawing-box .item1 {
  position: absolute;
  left: 50%;
  margin-left: -153px;
  width: 306px;
  height: 283px;
  background: url("../img/free-san.png") center center no-repeat;
}
.reg-wrap .platform-box .drawing-box .item2 {
  position: absolute;
  top: 50%;
  margin-top: -203px;
  right: 0;
  width: 301px;
  height: 289px;
  background: url("../img/free-san1.png") center center no-repeat;
}
.reg-wrap .platform-box .drawing-box .item3 {
  position: absolute;
  bottom: 6px;
  right: 89px;
  width: 301px;
  height: 286px;
  background: url("../img/free-san2.png") center center no-repeat;
}
.reg-wrap .platform-box .drawing-box .item4 {
  position: absolute;
  bottom: 6px;
  left: 50%;
  margin-left: -299px;
  width: 304px;
  height: 287px;
  background: url("../img/free-san3.png") center center no-repeat;
}
.reg-wrap .platform-box .drawing-box .item5 {
  position: absolute;
  top: 50%;
  margin-top: -201px;
  left: 0;
  width: 304px;
  height: 287px;
  background: url("../img/free-san4.png") center center no-repeat;
}
.reg-wrap .platform-box .drawing-box .item6 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -54px;
  margin-left: -55px;
  width: 109px;
  height: 159px;
  background: url("../img/free-san5.png") center center no-repeat;
}
.reg-wrap .cons-box {
  margin-bottom: 30px;
}
.reg-wrap .cons-box .item {
  border: 1px solid #cc1c27;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.reg-wrap .cons-box .cons-items {
  margin-top: 20px;
  margin-left: -15px;
}
.rel-wrap .bai-map {
  margin-top: 50px;
  margin-bottom: 50px;
}
.rel-wrap .bai-map #map {
  width: 100%;
  height: 600px;
}
.rel-wrap .info-box {
  margin-bottom: 50px;
}
.rel-wrap .info-box h4 {
  color: #cc1c27;
  font-weight: bold;
}
.rel-wrap .info-box p {
  color: #999999;
  font-size: 16px;
}
.pro_5 .public-title {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #ff0000;
  border-left: 3px solid  #ff0000;
  padding-left: 10px;
  margin-bottom: 20px;
}
.pro_5 .map-wrap {
  margin-top: 60px;
}
.pro_5 .map-wrap .map-box {
  position: relative;
  width: 999px;
  height: 826px;
  background: url('../img/map.png') center center no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}
.pro_5 .map-wrap .map-box .coo_item {
  position: absolute;
  color: #ff0000;
  font-size: 16px;
}
.pro_5 .map-wrap .map-box .coo_item .icon {
  display: inline-block;
  width: 18px;
  height: 30px;
  background: url('../img/icon/icon_coord.png') center center no-repeat;
}
.pro_5 .map-wrap .map-box .coo_item .icon-red {
  background: url('../img/icon/icon_coordred.png') center center no-repeat;
}
.pro_5 .map-wrap .map-box .coo_item span {
  position: absolute;
  display: block;
  width: 50px;
  left: -35px;
  bottom: -10px;
}
.pro_5 .map-wrap .map-box .coo_item1 {
  right: 226px;
  top: 302px;
}
.pro_5 .map-wrap .map-box .coo_item2 {
  right: 365px;
  top: 420px;
}
.pro_5 .map-wrap .map-box .coo_item3 {
  right: 302px;
  top: 388px;
}
.pro_5 .map-wrap .map-box .coo_item3 span {
  left: 23px;
}
.pro_5 .map-wrap .map-box .coo_item3 .icon {
  background: url("../img/icon/icon_coord2.png") center center no-repeat;
}
.pro_5 .map-wrap .map-box .coo_item4 {
  right: 280px;
  top: 500px;
}
.pro_5 .map-wrap .map-box .coo_item5 {
  right: 254px;
  top: 695px;
}
.pro_5 .map-wrap .map-box .coo_item5 .icon {
  background: url("../img/icon/icon_coord2.png") center center no-repeat;
}
.pro_5 .btn-box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pro_5 .permit-wrap .img-box {
  float: left;
}
.pro_5 .credential-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pro_5 .credential-wrap .img-box {
  float: left;
}
.pro_5 .credential-wrap .img-box img:nth-child(1) {
  margin-right: 10px;
}
.pro_5 .phone-map img {
  width: 100%;
}
.recruit-wrap .page_banner .title .pull-right span {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: normal;
}
.recruit-wrap .page_banner .title .pull-right span a {
  color: #fff;
}
.recruit-wrap .all-recruit {
  margin-top: 30px;
  margin-bottom: 130px;
}
.recruit-wrap .all-recruit .recruit_item .title {
  line-height: 79px;
  height: 80px;
  border-bottom: 1px solid #e7e6ea;
}
.recruit-wrap .all-recruit .recruit_item .title .info-box {
  float: left;
  color: #9b9b9b;
}
.recruit-wrap .all-recruit .recruit_item .title .info-box em {
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin-right: 30px;
  line-height: 1;
}
.recruit-wrap .all-recruit .recruit_item .title .info-box span {
  font-size: 16px;
  margin-right: 10px;
}
.recruit-wrap .all-recruit .recruit_item .title .arrows-box {
  float: right;
  height: 79px;
  width: 80px;
  margin-right: -10px;
}
.recruit-wrap .all-recruit .recruit_item .title .arrows-box .icon_arrows {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  width: 26px;
  height: 16px;
  margin-top: 31.5px;
  background-image: url('../img/icon/icon_arrows_down.png');
  background-position: center center;
}
.recruit-wrap .all-recruit .recruit_item .describe-box {
  position: relative;
  display: none;
  padding-top: 20px;
  color: #9b9b9b;
}
.recruit-wrap .all-recruit .recruit_item .describe-box h4 {
  margin-bottom: 20px;
}
.recruit-wrap .all-recruit .recruit_item .describe-box dl {
  padding-left: 40px;
  font-size: 16px;
}
.recruit-wrap .all-recruit .recruit_item .describe-box dl dd {
  line-height: 2;
}
.recruit-wrap .all-recruit .recruit_item .describe-box .send-email {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #ff0000;
}
@media screen and (max-width: 1024px) {
  .banner .text-box .text-wrap1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .index-title .title-text:before {
    height: 0px;
  }
  .index-title .title-text:after {
    height: 0px;
  }
  .serve-wrap .serve-box .item .img-box {
    width: 175px;
  }
  .pro_1 .info-box .text-box li .tab {
    width: 100%;
  }
  .pro_2 .img-box-center {
    overflow: hidden;
  }
  .reg-wrap .platform-box .draw-img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .reg-wrap .cons-box .cons-items {
    margin-top: 20px;
    margin-left: 0px;
  }
  .header .navbar-static-top .navbar-nav .nav-vfp {
    top: 40px;
  }
}
@media screen and (max-width: 768px) and (min-width: 560px) {
  .header .navbar-static-top .navbar-nav {
    float: left;
    margin-top: 60px;
  }
  .index-title .title-text {
    position: relative;
    top: -8px;
  }
  .index-title .title-text span {
    padding-top: 0px;
    padding-bottom: 2px;
  }
  .index-title .title-text h3 {
    font-size: 18px;
    position: relative;
    top: 8px;
  }
  .index-title .title-text:before {
    height: 0px;
  }
  .index-title .title-text:after {
    height: 0px;
  }
  .pro-wrap .pro-box .col-sm-4 .item {
    padding-left: 80px;
    background-position: 20px center;
  }
  .pro-wrap .pro-box .col-sm-4 .item:hover {
    background-position: 20px center;
  }
  .serve-wrap {
    height: 370px;
    padding-top: 60px;
  }
  .serve-wrap .serve-box {
    padding-top: 60px;
  }
  .serve-wrap .serve-box .item .text-box {
    padding-left: 10px;
    background: none;
  }
  .coop-wrap {
    padding-top: 60px;
    height: 300px;
  }
  .coop-wrap .coop-box {
    margin-top: 20px;
  }
  .public-img-box-bottom .text-box {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
  }
  .reg-wrap .cons-items img {
    height: 40px;
  }
  .reg-wrap .about-banner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .reg-wrap .about-banner .info-box {
    margin: 0 auto;
    margin-top: 80px;
  }
}
@media screen and (max-width: 560px) {
  .header .navbar-static-top {
    height: auto;
    margin-bottom: 0;
  }
  .header .navbar-static-top .navbar-brand {
    margin-top: 11px;
  }
  .header .navbar-static-top .navbar-nav {
    float: none!important;
  }
  .header .navbar-static-top .navbar-nav li a.active {
    border-bottom: none;
  }
  .header .navbar-static-top .navbar-nav li a:hover {
    border-bottom: none;
  }
  .header .navbar-static-top .navbar-nav li > a {
    font-weight: normal;
  }
  .header .navbar-static-top .navbar-nav .nav-vfp {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 0;
  }
  .header .navbar-static-top .navbar-nav .nav-vfp a:hover {
    border: none;
    background: #fff;
  }
  .header .navbar-static-top .navbar-nav .nav-vfp dd {
    display: block;
  }
  .header .navbar-static-top .navbar-nav .nav-vfp dd a {
    text-align: left;
    font-size: 14px;
  }
  .header .navbar-static-top .navbar-nav .nav-vfp dd a.active {
    background: #fff;
    color: #333;
  }
  .header .navbar-brand {
    padding: 0;
    margin-left: 15px;
    height: 30px;
    margin-top: 10px;
  }
  .header .navbar-brand img {
    width: 200px;
    height: auto;
  }
  .index-title .title-text h3 {
    font-size: 18px;
  }
  .index-title .title-text span {
    margin-top: 5px;
    padding-bottom: 5px;
  }
  .footer p {
    line-height: 2;
  }
  .banner .swiper-wrapper {
    height: 240px;
    width: 100%;
  }
  .banner .text-box .text-wrap1 {
    text-align: center;
    margin-top: 50px;
  }
  .banner .text-box .text-wrap1 .title {
    display: block;
    margin: 0 auto;
    width: 220px;
  }
  .banner .pagin {
    bottom: 10px;
    margin-left: 10px;
  }
  .banner .pagin .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 6px;
  }
  .pro-wrap {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .pro-wrap .pro-box {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .pro-wrap .pro-box .item {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
  }
  .pro-wrap .pro-box .item h3 {
    font-size: 16px;
  }
  .serve-wrap {
    padding-top: 20px;
    height: 370px;
  }
  .serve-wrap .serve-box {
    padding-top: 20px;
  }
  .serve-wrap .serve-box .item {
    height: 120px;
  }
  .serve-wrap .serve-box .item:nth-child(1) {
    margin-bottom: 15px;
  }
  .serve-wrap .serve-box .item .img-box {
    width: 130px;
    overflow: hidden;
    height: 120px;
  }
  .serve-wrap .serve-box .item .text-box {
    margin-top: 12px;
    padding-left: 20px;
    background: none;
  }
  .serve-wrap .serve-box .item .text-box h3 {
    margin-top: 5px;
    font-size: 16px;
  }
  .serve-wrap .serve-box .item .text-box p {
    margin-bottom: 6px;
  }
  .about-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about-wrap .text-box {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-wrap .text-box h3 {
    margin-top: 30px;
  }
  .about-wrap .text-box p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 14px;
  }
  .coop-wrap {
    padding-top: 20px;
    height: 300px;
  }
  .coop-wrap .coop-box {
    margin-top: 20px;
  }
  .coop-wrap .coop-box .col-sm-6:nth-child(1) {
    margin-bottom: 20px;
  }
  .coop-wrap .coop-box .col-sm-6 .item {
    height: 80px;
  }
  .coop-wrap .coop-box .col-sm-6 .item .item-box {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .coop-wrap .coop-box .col-sm-6 .item .item-box img {
    height: 40px;
  }
  .link-wrap {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .link-wrap h2 {
    color: #cc1c27;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .page_banner {
    height: 140px;
  }
  .page_banner .title {
    margin-top: 65px;
    font-size: 16px;
  }
  .page_banner .title .big {
    font-size: 20px;
  }
  .pro_1 .info-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pro_1 .info-box .md6_1 {
    width: 100%;
  }
  .pro_1 .info-box .col-md-6 {
    width: 100%;
  }
  .pro_1 .info-box .img-box {
    text-align: center;
    margin-bottom: 20px;
  }
  .pro_1 .info-box .img-box img {
    height: 70px;
  }
  .pro_1 .info-box .text-box ul {
    padding-left: 0;
    font-size: 14px;
    line-height: 1.6;
  }
  .pro_1 .info-box .text-box ul li .tab {
    width: 310px;
  }
  .pro_1 .wrap-box-bottm {
    overflow: hidden;
    height: 170px;
  }
  .pro_1 .wrap-box-bottm .text-box {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    text-align: left;
  }
  .pro_1 .wrap-box {
    height: 200px;
  }
  .public-img-box-bottom {
    padding-left: 15px;
    padding-right: 15px;
    height: 260px;
    text-align: left;
  }
  .public-img-box-bottom .link-box {
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .public-img-box-bottom .link-box p span:nth-child(1) {
    display: inline-block;
    margin-right: 14px;
  }
  .public-img-box-bottom .text-box {
    font-size: 14px;
  }
  .pro_2 .head-box-1 {
    margin-top: 30px;
  }
  .pro_2 .head-box {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pro_2 .head-box img {
    width: 130px;
  }
  .pro_2 .head-box .col-sm-6 {
    margin-bottom: 30px;
  }
  .pro_3 .img-all {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pro_5 .map-wrap {
    margin-top: 20px;
  }
  .pro_5 .public-title {
    margin-bottom: 15px;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
  }
  .pro_5 .permit-wrap {
    overflow: hidden;
  }
  .pro_5 .permit-wrap .img-box {
    width: 100%;
    text-align: center;
  }
  .pro_5 .credential-wrap {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .pro_5 .credential-wrap .img-box {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }
  .pro_5 .credential-wrap .img-box img {
    width: 100%;
  }
  .reg-wrap .about-banner {
    height: 300px;
  }
  .reg-wrap .platform-box {
    padding-left: 15px;
    padding-right: 15px;
  }
  .reg-wrap .platform-box .public-title {
    font-size: 18px;
  }
  .reg-wrap .platform-box .info-box p {
    font-size: 14px;
  }
  .reg-wrap .cons-box {
    margin-bottom: 20px;
  }
  .reg-wrap .cons-box .public-title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .reg-wrap .cons-box .cons-items img {
    height: 40px;
  }
  .reg-wrap .cons-box .cons-items .col-sm-6:nth-child(1) {
    margin-bottom: 20px;
  }
  .rel-wrap .bai-map {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .rel-wrap .bai-map #map {
    width: 100%;
    height: 300px;
  }
  .rel-wrap .info-box {
    margin-bottom: 20px;
  }
  .rel-wrap .info-box .col-sm-6:nth-child(1) {
    margin-bottom: 20px;
  }
  .rel-wrap .info-box h4 {
    color: #cc1c27;
    font-weight: bold;
    margin-top: 0;
  }
  .rel-wrap .info-box p {
    color: #999999;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .recruit-wrap .page_banner .title {
    margin-top: 20px;
  }
  .recruit-wrap .page_banner .title .pull-right span {
    display: block;
    font-size: 14px;
    line-height: 1.5;
  }
  .recruit-wrap .all-recruit {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .recruit-wrap .all-recruit .recruit_item .title {
    line-height: 2;
    padding-top: 25px;
  }
  .recruit-wrap .all-recruit .recruit_item .title .info-box em {
    display: block;
    font-size: 16px;
  }
  .recruit-wrap .all-recruit .recruit_item .title .info-box span {
    font-size: 14px;
  }
  .recruit-wrap .all-recruit .recruit_item .title .arrows-box {
    margin-top: -20px;
  }
  .recruit-wrap .all-recruit .recruit_item .title .arrows-box .icon_arrows {
    background-size: 13px 7px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
  }
  .recruit-wrap .all-recruit .recruit_item .describe-box {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .recruit-wrap .all-recruit .recruit_item .describe-box .send-email {
    bottom: 10px;
    right: 0;
    font-size: 12px;
  }
  .recruit-wrap .all-recruit .recruit_item .describe-box h4 {
    font-size: 16px;
  }
  .recruit-wrap .all-recruit .recruit_item .describe-box dl {
    padding-left: 10px;
  }
  .recruit-wrap .all-recruit .recruit_item .describe-box dt {
    font-size: 14px;
  }
  .recruit-wrap .all-recruit .recruit_item .describe-box dd {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .serve-wrap .serve-box .item .img-box {
    width: 110px;
    overflow: hidden;
    height: 120px;
  }
  .serve-wrap .serve-box .item .text-box {
    margin-top: 12px;
    padding-left: 10px;
    background: none;
  }
  .page_banner .title {
    margin-top: 65px;
    font-size: 14px;
  }
  .public-img-box-bottom {
    height: 210px;
  }
  .public-img-box-bottom .link-box {
    width: 100%;
    height: 70px;
    font-size: 12px;
    line-height: 1.6;
    padding-top: 12px;
  }
  .public-img-box-bottom .link-box p span:nth-child(1) {
    display: inline-block;
    margin-right: 14px;
  }
  .public-img-box-bottom .text-box {
    font-size: 12px;
    font-weight: normal;
  }
  .pro_1 .wrap-box-bottm {
    height: 130px;
  }
  .pro_1 .wrap-box-bottm .text-box {
    font-size: 14px;
  }
}
