
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1494119845050'); /* IE9*/
  src: url('../font/iconfont.eot?t=1494119845050#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1494119845050') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1494119845050') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1494119845050#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e60a"; }

.icon-youhuiquan:before { content: "\e620"; }

.icon-shopping-cart:before { content: "\e626"; }

.icon-iconfontshanchu:before { content: "\e614"; }

.icon-phone-line:before { content: "\e6ed"; }

.icon-jinlingyingcaiwangtubiao34:before { content: "\e745"; }

.icon-user:before { content: "\e623"; }

.icon-tianpinyinliao:before { content: "\e63d"; }

.icon-search:before { content: "\e640"; }

.icon-home:before { content: "\ec21"; }

.icon-heart:before { content: "\e649"; }

.icon-cnhuatong:before { content: "\e654"; }

.icon-renminbi1:before { content: "\e622"; }

.icon-jia:before { content: "\e606"; }

.icon-weixin-copy:before { content: "\e604"; }

.icon-favorfill:before { content: "\e60c"; }

.icon-call:before { content: "\e639"; }

.icon-renminbi:before { content: "\e671"; }

.icon-4copy:before { content: "\e616"; }

.icon-home1:before { content: "\e609"; }

.icon-zhifubao:before { content: "\e6ec"; }

.icon-xinxi:before { content: "\e615"; }

.icon-msg6:before { content: "\e628"; }

.icon-shangpin-copy:before { content: "\e61b"; }

.icon-jia-copy:before { content: "\e602"; }

.icon-xin-1:before { content: "\e608"; }

.icon-shoppingcartactive:before { content: "\e674"; }

.icon-jiantou-copy-copy-copy:before { content: "\e61f"; }

.icon-ai-camera:before { content: "\e66c"; }

.icon-sanjiao:before { content: "\e724"; }

.icon-daodiangou:before { content: "\e6c8"; }

.icon-jia1:before { content: "\e867"; }

.icon-weibiaoti2:before { content: "\e603"; }

.icon-down-copy:before { content: "\e607"; }

.icon-gantanhao:before { content: "\e659"; }

.icon-daishouhuo:before { content: "\e621"; }

.icon-shuiguo:before { content: "\e605"; }

.icon-daipingjia:before { content: "\e65e"; }

.icon-xin_xuanzhong:before { content: "\e61d"; }

.icon-wujiaoxing:before { content: "\e63b"; }

.icon-zuobiao:before { content: "\e60d"; }

.icon-jian-copy:before { content: "\e601"; }

.icon-zuobiao1:before { content: "\e62a"; }

.icon-duihao:before { content: "\e600"; }

.icon-qiandao:before { content: "\e988"; }

.icon-duihao1:before { content: "\e61e"; }

.icon-signin:before { content: "\e617"; }

.icon-shoucang:before { content: "\e86d"; }

.icon-youhuiquan1:before { content: "\e884"; }

.icon-dingdandaifukuan:before { content: "\e896"; }

.icon-dingdanjihe:before { content: "\e897"; }

.icon-dingdanyichenggong:before { content: "\e899"; }

.icon-qitadingdan:before { content: "\e89d"; }

.icon-rili:before { content: "\e89e"; }

.icon-hangcheng:before { content: "\e8a1"; }

.icon-yuyuedingdan:before { content: "\e8a2"; }

.icon-yijianfankui:before { content: "\e8a3"; }

.icon-peisongzhong:before { content: "\e63a"; }

.icon-yinxingqia2-copy:before { content: "\ec22"; }

