@CHARSET "UTF-8";
*,p,ol,ul,label{ margin:0; padding:0; word-wrap:break-word; word-break:break-all;}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 0px 0 0;
}
a:hover{
	color: #333;
}
a{
	text-decoration: none;
	-webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.bgffda00{
	background: #ffda00;
}
.mui-table-view{
	background: transparent;
}
body {
    color:#333333;
    font: 14px/1.6  "inherit","微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
	background: #FFFFFF;
    height: 100%;
}
.mhome{
    padding: 0;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}
.clearfix:after{
	content:"";
	display:block;
	height:0; 
	clear:both;
	visibility:hidden;
}
.fce3760a{
	color: #e3760a!important;
}


/* 不是会员页面 */
.no-box{
	text-align: center;
}
.no-box img{
	width: 3.875rem;
	height: 2.828125rem;
	margin-top: 3.125rem;
}
.no-box .info-no{
	font-size: 0.375rem;
	margin-top: 0.9375rem;
	margin-bottom: 2.5rem;
	line-height: 1.7;
}
.public-btn{
	display: inline-block;
	width: 7.34375rem;
	height:1.125rem;
	line-height: 1.15625rem;
	text-align: center;
	color: #333333;
	background: #ffda00;
	border-radius: 20px;
	font-size: 16px;
}
/* 会员招募 */
.enlist-box .enlist-top{
	padding:0.3125rem;
	background:#fff;
	border-bottom:12px solid #f0f0f0; 
}
.enlist-box .enlist-top .img-box{
	position: relative;
}
.enlist-box .enlist-top .img-box .nub{
	position: absolute;
	top: 0.46875rem;
	right: 0.625rem;
	font-size: 0.28125rem;
	color: #fff;
	text-align: right;
}
.enlist-box .enlist-top .img-box .nub p{
	font-size:0.28125rem;
	color: #fff; 
}
.enlist-box .enlist-top img{
	width: 100%;
	vertical-align: middle;
}
.enlist-box .enlist-text{
	background:#fff;
}
.enlist-box .enlist-text .icon_img{
	position: relative;
	top: 0.03125rem;
	margin-right: 0.15625rem;
	display: inline-block;
	width:0.533333rem;
	height: 0.4rem;
	background: url('../imgs/low_no_member.png') center center no-repeat;
	background-size: 100% 100%;
	vertical-align: center;
}
.enlist-box .enlist-text p{
	font-size: 16px;
	margin-bottom: 0.3125rem;
	color: #333;
	font-weight: 400;
}
.enlist-box .enlist-text{
	padding-top: 0.46875rem;
	padding-left: 0.46875rem;
	padding-right: 0.46875rem;
	margin-top: 0.3125rem;
}

.enlist-box  .btn-box{
	text-align: center;
	margin-top: 2.5rem;
	padding-bottom: 0.666667rem;
}
.enlist-box  .btn-box .public-btn:nth-child(2){
	margin-top: 0.3125rem;
	background: #f0f0f0;
}
/* 绑定会员 */
.bound-form{
	padding-top: 1.333333rem;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	background: #fff;
	padding-bottom: 0.625rem;
}
.bound-form .bound-input-box{
	position: relative;
}
.bound-form .bound-input-box:nth-child(1){
	border-bottom: 1px solid #f0f0f0;
}
.bound-form .bound-input-box input{
	box-sizing: border-box;
	padding-left: 1.015625rem;
	width: 75%;
	height: 1.5625rem;
	line-height: 1.5625rem;
	border:none;
	outline: none;
	margin-bottom: 0;
	font-size: 14px;
}
.bound-form .bound-input-box span{
	position: absolute;
	top: 0.390625rem;
	right: 0;
	font-size: 14px;
	padding:5px 10px;
	background: #ffda00;
	border-radius: 6px;
}

.bound-form .bound-input-box .icon_phone{
	position:absolute;
	top: 0.573333rem;
	left: 0.390625rem;
	width: 0.328125rem;
	height: 0.4375rem;
	background: url('../imgs/icon_phone.png') center center no-repeat;
	background-size: 100% 100%;
}
.bound-form .bound-input-box .icon_lock{
	position:absolute;
	top: 0.546667rem;
	left: 0.390625rem;
	width: 0.34375rem;
	height: 0.46875rem;
	background: url('../imgs/icon_lock.png') center center no-repeat;
	background-size: 100% 100%;

}
.bound-box .btn-box {
	margin-top: 0.78125rem;
	text-align: center;
}
.bound-box .btn-box .public-btn{
	color: #333;
	background:#fff;
}
.bound-box .btn-box .info-box{
	margin-top: 0.3125rem;
}
.bound-box .btn-box .info-box p{
	line-height: 2;
	font-size:12px;
}
/* 会员中心 */
.centre-box{
	background: #f0f0f0;
}
.centre-box .centre-top{
    padding: 0.3125rem;
    background: #fff;
}
.centre-box .centre-top .img-box{
	position: relative;
}
.centre-box .centre-top .img-box img{
	width: 100%;
	vertical-align: middle;
}
.centre-box .centre-top .img-box .nub {
    position: absolute;
    top: 0.46875rem;
    right: 0.625rem;
    font-size: 0.28125rem;
    color: #fff;
    text-align: right;
}
.centre-box .centre-top .img-box .nub p{
	font-size: 0.28125rem;
    color: #fff;
}
.centre-box .centre-top  .erwei-box{
	text-align: center;
	font-size: 0.375rem;
	color: #999999;
	margin-top: 0.390625rem;
}
.centre-box .centre-top  .erwei-box .icon_erwei{
	display: inline-block;
	width: 0.3125rem;
	height: 0.3125rem;
	background:url('../imgs/icon_erwei.png') center center no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 0.28125rem;
}
.centre-box .info-box{
	display: box;
    display: -webkit-box;
	display: flex;
    align-items: center;
    -webkit-box-align: center;
	background: #fff;
	margin-top: 0.234375rem;
	margin-bottom: 0.234375rem;
	padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    padding-top:0.3125rem;
    padding-bottom: 0.3125rem; 

}
.centre-box .info-box .item{
	box-sizing: border-box;
	flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    border-left: 1px solid #dedede;
    text-align: center;
    font-size: 0.375rem;

}
.centre-box .info-box .item:nth-child(1){
	border-left: none;
	text-align: left;
}
.centre-box .info-box .item p{
	color: #fe7f1c;
}
.centre-box .info-box .item:nth-child(1) p{
	color:#333;
	font-size: 0.3125rem;
}
.centre-box .account-box{
	display: block;
	background: #fff;
	padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #333;
}
.centre-box .account-box  .left{
	float: left;
	font-size: 0.4375rem;
}
.centre-box .account-box  .left .ye_member{
	display: inline-block;
	width: 0.5625rem;
	height: 0.421875rem;
	background:url('../imgs/ye_member.png');
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right:0.234375rem; 
}
.centre-box .pulic-triangle{
	float: right;
	width: 0.625rem;
	height: 0.625rem;
	background: url('../imgs/icon_triangle.png') right center no-repeat;
	background-size: 0.125rem 0.25rem;
}
.centre-box .register-box{
	padding-top: 0.46875rem;
	padding-bottom: 0.46875rem;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;;
	background:#fff;
	margin-top: 0.234375rem;
	border-bottom: 1px solid #dedede;
}
.centre-box .register-box .left{
	float: left;
	font-size: 0.4375rem;
}
.centre-box .register-box .more{
	margin-top: 0.03125rem;
	float: right;
	color: #fe7f1c;
	font-size: 0.375rem;
}
.centre-box .register-box .more .pulic-triangle{
	margin-top: -0.03125rem;

}
.centre-box  .location-box{
	border-bottom: 1px solid #dedede;
}
.centre-box  .location-box .left .ye_site{
	position: relative;
	top: -0.046875rem;
	display: inline-block;
	width: 0.484375rem;
	height: 0.5625rem;
	background:url('../imgs/ye_site.png') center center no-repeat;
	background-size: 100% 100%;
	margin-right: 0.234375rem;
	vertical-align: middle;
}
.centre-box .phone-box{
	border-bottom: 1px solid #dedede;
	margin-bottom: 0.625rem;
}
.centre-box .phone-box .ye_phone{
	display: inline-block;
	width: 0.5625rem;
	height: 0.5625rem;
	background:url('../imgs/ye_phone.png') center center no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 0.234375rem;

}
/* VIP充值 */
.Pay-box {
	background:#f0f0f0;
	padding-bottom: 0.234375rem;
}
.Pay-box .vip-item{
	background:#fff;
	padding:0.421875rem 0.3125rem;
	margin-top: 0.234375rem;
}
.Pay-box .vip-item .img-box{
	width: 2.5rem;
	height: 1.65625rem;
	float: left;
}
.Pay-box .vip-item .img-box img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.Pay-box .vip-item:nth-child(1){
	margin-top: 0;
}
.Pay-box .vip-item .text-box{
	float: left;
	margin-left: 0.390625rem;
}
.Pay-box .vip-item .text-box p{
	font-size: 12px;
	color: #999999;
	line-height: 1.6;
}
.Pay-box .vip-item .text-box h3{
	margin-bottom: 0.2rem;
	font-style: 18px;
	line-height: 1;
}

/* 评价 */
.evaluate-box{
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
}
.evaluate-box .ev-wrap{
	text-align: center;
	padding-top: 1.0625rem;
	padding-bottom: 0.78125rem;
}
.evaluate-box .ev-wrap .img-box {
	margin-top: 0.84375rem;
	font-size: 0;
}
.evaluate-box .ev-wrap  h3{
	font-size: 20px;
	font-weight: normal;
}
.evaluate-box .ev-wrap  p{
	font-size: 14px;
	color: #999;
}
.evaluate-box .ev-wrap .img-box .item{
	display: inline-block;
	width: 1.09375rem;
	height: 1.0rem;
	background:url('../imgs/mind2.png') no-repeat;
	background-size: 2.1875rem 1.0rem;
	background-position: -1.09375rem 0;
	margin-left: 0.28125rem;
	margin-right: 0.28125rem;
    transition: .2s;
}
.evaluate-box .ev-wrap .img-box .item.active{
	background-position: 0 0;
}
.evaluate-box .staff-box{
	padding-top: 0.78125rem;
	padding-bottom: 0.78125rem;
	text-align: center;
    border-top: 1px dashed #cccccc;
	font-size: 0;
}
.evaluate-box .staff-box p{
	font-size: 16px;
	color:#333;
}
.evaluate-box .staff-box span{
	margin-top: 0.390625rem;
	display: inline-block;
	width: 2.5rem;
	height: 1.015625rem;
	font-size: 0.4375rem;
	line-height: 1.015625rem;
	background:#eeeeee;
	border-radius: 5px;
	color: #999999;
	margin-left: 0.140625rem;
	margin-right: 0.140625rem;
}
.evaluate-box .staff-box .icon_face{
	position: relative;
	top: -0.015625rem;
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.234375rem;
	vertical-align: middle;
}
.evaluate-box .staff-box .icon_face_yes{
	background:url('../imgs/face2.png') center center no-repeat;
	background-size: 100% 100%;
}
.evaluate-box .staff-box .icon_face_no{
	background:url('../imgs/face.png') center center no-repeat;
	background-size: 100% 100%;
}
.evaluate-box .staff-box span.active{
	color: #333;
	background:#ffda00;
}
.evaluate-box .staff-box span.active .icon_face_yes{
	background:url('../imgs/face1.png') center center no-repeat;
	background-size: 100% 100%;
}
.evaluate-box .staff-box span.active .icon_face_no{
	background:url('../imgs/face3.png') center center no-repeat;
	background-size: 100% 100%;
}
.evaluate-box .textarea{
	box-sizing: border-box;
	width: 100%;
	border:1px solid #dedede;
	height:3.125rem;
	padding:0.3125rem;
	outline: none;
}
.evaluate-box  .btn-box{
	margin-top: 1.171875rem;
	text-align: center;
	margin-bottom: 1.5625rem;
}
/* 支付成功 */
.ok-box .img-box{
	width: 4.390625rem;
	height: 4.21875rem;
	background:url('../imgs/icon_ok.png') center center;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 2.578125rem;
	margin-bottom:1.71875rem; 
}
.ok-box .text-box{
	text-align: center;
	margin-bottom: 0.78125rem;
}
.ok-box .text-box h3{
	font-size:18px;
	font-weight: normal; 
}
.ok-box .text-box p{
	font-size: 14px;
	color: #999;
}
.ok-box .btn-box{
	text-align: center;
}
/* 申请新卡 */
.bgf7f7f7{
	background: #f7f7f7;
}
.new-box .new-form{
	background: #fff;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
}
.new-box  .input-item{
	font-size: 0;
	box-sizing: border-box;
	height:1.375rem;
	line-height: 1.359375rem;
	width: 100%;
	border-bottom: 1px solid #dedede;
	
}
.new-box  .input-item:nth-child(5){
	border-bottom: none;
}
.new-box  .input-item.area-box{
	height: auto;
}
.new-box  .input-item.area-box input{
	padding:0.15625rem 0.15625rem;
	border:1px solid #ccc;
	border-radius: 5px;

}
.new-box  .input-item input{
	padding-top: 0.15625rem;
	padding-bottom: 0.15625rem;
	border:0;
	font-size: 14px;
	width: 80%;
}
.new-box  .input-item .title{
	display: inline-block;
	color: #333;
	font-size: 15px;
	width: 20%;
	text-align: left;
}
.new-box  .input-item em{
	position: relative;
	top: 0.04rem;
	font-style: normal;
	font-size: 14px;
}
.new-box  .input-item em .icon_woman{
	position: relative;
	top: 0.03125rem;
	display: inline-block;
	height: 0.5rem;
	width: 0.359375rem;
	background: url('../imgs/no_woman.png');
	background-size: 100% 100%;
	margin-right: 0.15625rem;
}
.new-box  .input-item em.active .icon_woman{
	background: url('../imgs/woman.png');
	background-size: 100% 100%;
}
.new-box  .input-item em .icon_man{
	position: relative;
	top: 0.046875rem;
	display: inline-block;
	height:0.46875rem;
	width: 0.46875rem;
	background: url('../imgs/no_man.png');
	background-size: 100% 100%;
	margin-right: 0.15625rem;
}
.new-box  .input-item em.active .icon_man{
	background: url('../imgs/man.png');
	background-size: 100% 100%;
}
.new-box  .input-item .woman-item{
	margin-right: 1.5625rem;
}













.new-box  .input-item.area-box .detail-input{
	display: block;
	width: 80%;
	margin-left: 20%;
	margin-bottom: 0.3125rem;
	height: auto;
	line-height: 1;

}
.new-btn-box{
	font-size: 0;
	text-align: center;
	margin-top: 0.625rem;
	margin-bottom: 0.78125rem;
}
.new-btn-box .sub-btn{
	margin-right: 0.46875rem;
}
.new-btn-box .public-btn{
	width: 3.90625rem
}
 .mui-btn-blue, .mui-btn-primary, input[type=submit]{
	border: 1px solid #ffda00;
    background-color: #ffda00;
    color: #333;
}
/* 申请新卡 增加宠物 */
.add-box{
	margin-top: 0.3125rem;
}
.add-box .pet_title{
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	margin-bottom: 0.3125rem;
	font-size: 15px;
}
.add-box .pet_title .dele{
	color: #ff3535;
	float: right;
}
.add-box .add-form{
	background: #fff;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
}
.add-box  .input-item{
	box-sizing: border-box;
	height:1.375rem;
	line-height: 1.359375rem;
	width: 100%;
	border-bottom: 1px solid #dedede;
	font-size: 0;
	
}
.add-box .type-input{
	height: auto;
	line-height: auto;
}
.add-box .type-box{
	margin-top: 0.15625rem;
	float: right;
	width: 5.15625rem;
}
.add-box .mui-radio{
	float: left;
	clear: none;
	line-height: 1.3;
}
 .add-box .type-input  .mui-radio.mui-left label{
 	margin-top: -0.106667rem;
 	width: 2.5rem;
 	padding: 0.390625rem 0;
 	padding-left: 0.78125rem;
 	font-size: 14px;

 }
.add-box .type-input .mui-radio input[type=radio]{
	left: 0rem;
	width:2.5rem
}
.add-box  .mui-radio input[type=radio]:checked:before{
	content: '';
	display: inline-block;
	width: 0.453125rem;
	height: 0.453125rem;
	background: url('../imgs/icon_yes.png') center center no-repeat;
	background-size: 100% 100%;
}
 .add-box .mui-radio input[type=radio]:before{
	content: '';
	display: inline-block;
	width: 0.453125rem;
	height: 0.453125rem;
	background: url('../imgs/icon_no.png') center center no-repeat;
	background-size: 100% 100%;
	
} 
.add-box .type-input .mui-radio input[type=radio]:before{
	font-size: 0.625rem;
}

.add-box  .input-item.area-box{
	height: auto;
}
.add-box  .input-item.area-box input{
	padding:0.15625rem 0.15625rem;
	border:1px solid #ccc;
	border-radius: 5px;

}

.add-box  .input-item input{
	padding-top: 0.15625rem;
	padding-bottom: 0.15625rem;
	border:0;
	font-size:14px;
	width: 70%;
}
.add-box  .input-item .title{
	display: inline-block;
	font-size: 15px;
	color: #333;
	width: 30%;
	
}
.add-box  .input-item em{
	font-style: normal;
	font-size: 14px;
}
.add-box  .input-item em .icon_sex{
	position: relative;
	top: 0.046875rem;
	display: inline-block;
	height: 0.5rem;
	width: 0.421875rem;
	background: url('../imgs/no_sex.png');
	background-size: 100% 100%;
	margin-right: 0.15625rem;
}
.add-box  .input-item em.active  .icon_sex{
	background: url('../imgs/sex.png');
	background-size: 100% 100%;
}
.add-box  .input-item em:nth-child(3).active .icon_sex{
	background: url('../imgs/sex1.png');
	background-size: 100% 100%;
}
.w-sex-item{
	margin-right: 1.5625rem;
}
.add-box  .input-item.area-box .detail-input{
	display: block;
	margin-left: 1.65625rem;
	margin-bottom: 0.3125rem;

}
.add-box .btn-box{
	font-size: 0;
	text-align: center;
	margin-top: 0.625rem;
}
.add-box .btn-box .sub-btn{
	margin-right: 0.46875rem;
}
.add-box .btn-box .public-btn{
	width: 3.90625rem
}
 .mui-btn-blue, .mui-btn-primary, input[type=submit]{
	border: 1px solid #ffda00;
    background-color: #ffda00;
    color: #333;
}

/* 申请成功 */
.succ-box{
	text-align: center;
}
.succ-box img{
    width: 8.140625rem;
    height: 3.6875rem;
    margin-top: 3.125rem;
}
.succ-box .info-succ{
	margin-top: 2.65625rem;
	margin-bottom: 0.9375rem;
}
.succ-box .info-succ p{
	font-size: 0.5rem;
	color: #333;
}

/* 充值 */
.bgf0f0f0{
	background: #f0f0f0;
}
.pay-box .pay-img{
	text-align: center;
	width: 100%;
	padding-top: 0.234375rem;
	padding-bottom: 0.234375rem;
}
.pay-box .pay-img img{
	width: 7.5rem;
	height: 4.96875rem;
}
.pay-box .pay-nub{
	background: #fff;
	padding:0.373333rem 0.3125rem;
	border-bottom: 1px solid #dedede;
}
.pay-box .pay-nub .title{
	float: left;
}
.pay-box .pay-nub .title span{
	font-size: 16px;
}
.pay-box .pay-nub .title .time{
	font-size: 12px;
}
.pay-box .pay-nub .money{
	margin-top: 0.3125rem;
	color: #e06e08;
	letter-spacing: -1px;
	float: right;

}
.pay-box .pay-info{
	background: #fff;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	
}
.pay-box .pay-info p{
	font-size: 14px;
	color: #333;
}
.pay-box .pay-info span{
	font-size: 16px;
	color: #999;
}
.pay-way span{
	margin-left: 0.3125rem;
	font-size: 12px;
	height: 0.666667rem;
	line-height:0.666667rem;
	color: #999;
}
.pay-way .mui-table-view a{
	float: left;
	
}
.pay-way .mui-checkbox{
	margin-top: 0.15625rem;
	float: right;
	color: #fff;
}
.pay-way .mui-radio{
	float: right;
	margin-top: 0.15625rem;
}
.pay-way .mui-radio input[type=radio]:checked:before{
	content: '';
    display: inline-block;
    width: 0.453125rem;
    height: 0.453125rem;
    background: url(../imgs/icon_yes.png) center center no-repeat;
    background-size: 100% 100%;
}
.pay-way .mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	width: 28px;
	height: 28px;
	right: 0;
}
.pay-way .mui-checkbox label, .mui-radio label{
	padding-right: 28px;
	padding-top: 14px;
	padding-bottom: 14px;
}
.pay-box .btn-box{
	margin-top: 1.015625rem;
	text-align: center;
	margin-bottom: 1.25rem;
}
/* 订单 */
.indent-box .indent-title{
	position: relative;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	font-size: 0;
	border-bottom: 1px solid #dedede;
}
.indent-box .indent-title span{
	font-size: 0.40625rem;
	display: inline-block;
	width: 1.875rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	color: #666;

}
.indent-box .indent-title span.active{
	font-weight: bold;
	color: #333;
}
.indent-box .indent-title .line{
	position: absolute;
	left:  0.46875rem;
	bottom: 0;
	width: 1.5625rem;
	height: 2px;
	background: #ffda00;
}
.ir-wrapper .public-item{
	position: relative;
	background: #fff;
	padding-top: 0.666667rem;
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	margin-bottom: 0.3125rem;
}
.ir-wrapper .public-item .special-box{
	width: 2.586667rem;
	height: 2.506667rem;
	position: absolute;
	background: url('../imgs/te.png') center center no-repeat;
	background-size: 100% 100%;
	z-index: 999;
	right: 1.533333rem;
	top: 0.8rem;
}
.particularly{
	position: absolute;
	top: 0.9375rem;
	right: 0.15625rem;
	z-index: 2;
	width: 3.03125rem;
	height: 2.9375rem;
	background: url('../imgs/te.png') center center no-repeat;
	background: 100% 100%;
}
.public-item .info-box .state{
	float: right;
	color: #fe7f1c;
}
.public-item .info-box  .time{
	font-size: 12px;
}
.public-item .info-box  .hint{
	font-size: 12px;
}
.fc333{
	color: #333 !important;
}
.public-item .info-box .title{
	font-size: 16px;
}
.public-item .info-box .all-money{
	font-size:18px;
	letter-spacing: -1px;
}
.public-item .info-box {
	padding-bottom: 0.46875rem;
	border-bottom: 1px dashed #ccc;
}
.public-item .other-info p{
	position: relative;
	padding-left: 2.1875rem;
	color: #333;
}
.public-item .other-info{
	padding-top: 0.390625rem;
	padding-bottom: 0.390625rem;
    border-bottom: 1px dashed #ccc;
}
.public-item .other-info .title{
	position: absolute;
	left: 0;
	color: #8f8f94;

}
.btn-box{
	text-align: right;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}
.btn-box .btn{
	display: inline-block;
	padding-left: 0.266667rem;
	padding-right: 0.266667rem;
	height: 0.78125rem;
	line-height: 0.78125rem;
	text-align: center;
	background: #ffda00;
	border-radius: 5px;
}
/* 订单详情 */
.details-box{
	padding-left: 0.333333rem;
	padding-right: 0.333333rem;
}
.details-box .details-item .time{
	font-size: 12px;
	color: #999999;
}
.details-box .details-item {
	position: relative;
	padding-left: 0.866667rem;
	padding-top: 0.533333rem;
	padding-bottom: 0.266667rem;
	border-bottom: 1px dashed #cccccc
}
.details-box .details-item .icon-1{
	position: absolute;
	top: 0.64rem;
	left: 0;
	width: 0.546667rem;
	height: 0.64rem;
	background: url('../imgs/obligation.png') center center no-repeat;
	background-size: 100% 100%

}
.details-box .details-item .icon-2{
	width:0.666667rem;
	height: 0.52rem;
	background: url('../imgs/pet.png') center center no-repeat;
	background-size: 100% 100%;
}
.details-box .details-item .icon-3{
	width:0.626667rem;
	height: 0.586667rem;
	background: url('../imgs/shop.png') center center no-repeat;
	background-size: 100% 100%;
}
.details-box .details-item .all-money{
	float: right;
	font-size: 18px;
	line-height: 1;
	letter-spacing: -1px;
}
.details-box .details-item p{
	font-size: 14px;
	line-height: 1.8;
}
.details-box .details-item .small-fs{
	font-size:0.346667rem;
}
.details-box .details-item p .title{
	color: #999999
}
.details-box .btn-box{
	display: none;
	text-align: center;
	margin-top: 0.666667rem;
}
.pay-pop-bg{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	z-index: 999;
}
.pay-pop-bg .pay-pop{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #fff;
	padding: 0.506667rem 0.333333rem;
	box-sizing: border-box;
}
.pay-pop-bg .pay-pop .pay-other{
	display: inline-block;
	padding-right: 0.533333rem;
	background: url('../imgs/jian.png') right center no-repeat;
	background-size: 0.106667rem 0.213333rem;


}
.pay-pop-bg .pay-pop .pay-way{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#fff;
}
.pay-pop-bg .pay-pop .pay-way p:last-child{
	    border-bottom: 1px dashed #ccc;
}
.pay-pop-bg .pay-pop .pay-way .member{
	display: inline-block;
	width: 0.64rem;
	height: 0.64rem;
	background: url('../imgs/member.png');
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 0.266667rem;
	margin-left: 0.506667rem;
}
.pay-pop-bg .pay-pop .pay-way .weixin{
	display: inline-block;
	width: 0.64rem;
	height: 0.64rem;
	background: url('../imgs/weixin1.png');
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 0.266667rem;
	margin-left: 0.506667rem;
}
.pay-pop-bg .pay-pop p{
	height: 1.066667rem;
	line-height: 1.066667rem;
	border-bottom: 1px dashed #ccc;
}
.pay-pop-bg .pay-pop .title{
	text-align: center;
	color: #333;
	border-bottom: 0;
}
.pay-pop-bg .pay-pop p:last-child{
	border-bottom: 0;
}
.pay-pop-bg .pay-pop p span{
	float: right;
}
.pay-pop-bg .pay-pop p .all-money{
	font-size: 18px;
	color: #333;
}
.pay-pop-bg .pay-pop .close{
	position: absolute;
	top: 0.266667rem;
	left: 0.333333rem;
	width: 0.36rem;
	height: 0.373333rem;
	background: url('../imgs/close.png') center center no-repeat;
	background-size: 100% 100%;
}
.pay-pop-bg .pay-pop .btn-box{
	margin-top: 0.533333rem;
	text-align: center;
}

.kind-box{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	text-align: center;
}
.kind-box .dog img{
	width: 3.146667rem;
	height: 4.24rem;
	margin-top:2.0rem;
	margin-bottom: 1.066667rem;
}
.bgfff{
	background: #fff!important;
}
.kind-box .cat img{
	width: 3.146667rem;
	height: 3.986667rem;
}
.dot-all,.cat-all{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	background: #fff;
}
.all_pets .slider {
  width: 100%;
  display: block;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.all_pets .slider ul {
  list-style: none;
}
.all_pets .slider .slider-content {
  float: left;
  width: 100%;
  display: block;
  overflow: auto;
  min-height: 250px;
}
.all_pets .slider .slider-content ul {
  box-sizing: border-box;
  padding: 0 0.4rem 0 0.3rem;
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.all_pets .slider .slider-content ul li {
  float: left;
  width: 100%;
}
.all_pets .slider .slider-content ul ul {
  padding: 0rem;
}
.all_pets .slider .slider-content ul ul li a {
  color: #333333;
  font-size: 0.373333rem;
  padding: 5px 10px;
  display: block;
  border-top: 1px solid #DEDEDE;
  text-transform: capitalize;
  line-height: 0.84rem;
}
.all_pets .slider .slider-content .title {
  padding: 5px 0;
  text-indent: 10px;
  color: #333333;
  width: 100%;
  font-size: 0.4rem;
  border-bottom: 1px solid #DEDEDE;
  float: left;
  line-height: 0.84rem;
  font-weight: bold;
  text-transform: uppercase;
}
.all_pets .slider .slider-nav {
  position: absolute;
  right: 0;
  top: 0;
}
.all_pets .slider .slider-nav ul {
  box-sizing: border-box;
}
.all_pets .slider .slider-nav li a {
  width: 0.4rem;
  text-align: center;
  color: #cbcbcb;
  font-size: 0.22rem;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}
.all_pets .slider #debug {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #000;
  color: #fff;
}
.all_pets .slider .arrow {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-bottom: 8px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  position: relative;
  top: 5px;
}
.all_pets .slider .down {
  border-bottom: none;
  border-top: 8px solid #fff;
  top: 15px;
}
.all_pets .slider .slide-up,
.all_pets .slider .slider .slide-down {
  display: none;
  height: 20px;
  background: #333;
  text-align: center;
  cursor: pointer;
  float: right;
  width: 100%;
  position: relative;
}

/*  indent */
.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-bottom-tips {
	text-align: center;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #333;
	font-weight: bold;
}