@CHARSET "UTF-8";
*,p,ol,ul,label{ margin:0; padding:0; word-wrap:break-word; word-break:break-all;}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 0px 0 0;
}
a:hover{
	color: #ff80b6;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.bgffda00{
	background: #ffda00;
}
body {
    color:#333333;
    font: 0.375rem/1.6  "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
	background: #FFFFFF;
	padding-top: 4.609375rem;
}
.mhome{
	min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}
.info-top{
	position: fixed;
	z-index: 999;
	top: 0;
	padding: 0.3125rem;
	padding-bottom: 0.1875rem;
	border-bottom: 1px solid #cecece;
	box-sizing: border-box;
	background: #fff;
}
.info-top .img-box{
	position: absolute;
	left: 0.3125rem;
	top: 0.3125rem;
	width: 3.125rem;
	height: 3.125rem;
}
.info-top .img-box img{
	height: 100%;
	width: 100%;
}
.info-top .text-box{
	position: relative;
	padding-left: 3.4375rem;
	height: 3.125rem;
}
.info-top .text-box .title{
	position: relative;
	font-size: 0.4375rem;
	color: #000;
	padding-right: 0.9375rem;
}
.info-top .text-box .title i{
	position: absolute;
	border:1px solid #666666;
	color: #666666;
	padding-left: 0.078125rem;
	padding-right: 0.078125rem;
	font-size: 0.21875rem;
	font-style: normal;
	right: 0;
	top: 0.125rem;
}
.info-top .text-box .reminder{
	color: #848484;
}
.info-top .text-box .down{
	position: absolute;
	bottom: 0;
	right: 0;
	background: url('../img/add.jpg') 0.09375rem 0.09375rem no-repeat;
	background-size: 0.1875rem 0.1875rem;
	color: #0080ff;
	border:1px solid #0080ff;
	padding: 0.15625rem 0.3125rem;
	border-radius: 4px;
	line-height: 1;
}






.info-top .info-title{
    display: flex;
    margin-top: 0.3125rem;
    box-sizing: border-box;
    border:1px solid #848484;
    border-radius: 5px;
    font-size: 0.375rem;
    height: 0.625rem;
    line-height: 0.625rem;
}
.info-top .info-title .title-item{
	flex: 1;
    text-align: center;
    color: #848484;
    box-sizing: border-box;
    border-left: 1px solid #848484;
}
.info-top .info-title .title-item:nth-child(1){
	border-left: 0;
}
.info-top .info-title .title-item.active{
	background: #848484;
	color: #fff;
}
.swiper-slide{
	padding-left: 0.3125rem;
	box-sizing: border-box;
	overflow:hidden;
}
.swiper-slide img{
	width: 100%;
	height: atuo;
}
.details-title{
	margin-top:0.359375rem;
	margin-bottom:0.3125rem; 
	margin-left: 0.3125rem;
	font-size: 0.46875rem;
	color: #000;
}
.details-box .abstract-box{
	padding-left: 0.3125rem;
	padding-right: 0.46875rem;
	margin-top: 0.3125rem;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}
.details-box .abstract-box .title{
	font-size: 0.46875rem;
	color:#000;
	margin-bottom: 0.3125rem;
}
.details-box .abstract-box p{
	color: #676767;
}