@CHARSET "UTF-8";
*,p,ol,ul,label{ margin:0; padding:0; word-wrap:break-word; word-break:break-all;}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 0px 0 0;
}
html{
	height: 100%;
}
body {
    color:#333333;
    font: 12px/1.5 "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
	background: #FFFFFF;
    min-width: 1200px;
    -ms-overflow-style: scrollbar;
    height: 100%;
}
.bodyover{
	overflow: hidden;
}
.songti{
	font-family:宋体,SimSun;
}
.yahei{
	font-family:微软雅黑,microsoft yahei;
}
.arialhs{
    font-family:Arial, Helvetica, "sans-serif"
}
a { text-decoration:none; color:#333333;}
a:hover {
	 text-decoration:none;
}
a:focus{
	 outline:0;
}
ul,li{
	list-style:none;
}
em{
	font-style: normal;
}

.clearfix:after{
content:""; display:block; height:0; clear:both;
visibility:hidden;
}
.clearOverflow{
	overflow: hidden;
}
.f_l{float:left !important;}
.f_r{float:right !important;}
.f_c{clear: both !important;}
.tl{ text-align:left !important;}
.tc{ text-align:center !important;}
.tr{ text-align:right !important;}
.vt{
	vertical-align: top !important;
}
.vc{
	vertical-align: middle;
}
.vb{
	vertical-align: bottom;
}
.pr{
	position: relative;
}
.block{
  width:1200px; height:auto;
  margin: 0 auto;
}
.minwidth{
	min-width: 100%;
}
.maxw980{
	max-width: 980px;
}
.width_block1{
	max-width: 1020px;
	margin: 0 auto;
	height:auto;
}
.dlb{
	display: inline-block;
}
.cp{
	cursor: pointer;
}
/*内边距和外边距通用样式*/
.ml10{
	margin-left: 10px;
}
.mlr15{
	margin-left: 15px;
	margin-right: 15px;
}
.mt5{margin-top:5px;}
.mb3{margin-bottom:3px;}
.mt10{
	margin-top: 10px;
}
.mb30{
	margin-bottom: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mr5{
	margin-right: 5px;
}
.mt30{
	margin-top: 30px;
}
.mt20{
	margin-top: 20px;
}
.mb20{
	margin-bottom: 20px;
}
.ml20{
	margin-left: 20px;
}
.ml10{
	margin-left: 10px;
}
.mr10{
	margin-right: 10px;
}
.mr20{
	margin-right: 20px;
}
.pm10{
	padding-bottom: 10px !important;
}
.pm30{
	padding-bottom: 30px;
}
/*通用文字颜色、大小、背景色样式、高度*/
.fw{
	font-weight: bold;
}
.fs{
	font-style: normal;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f24{
	font-size: 24px;
}
.f26{
	font-size: 26px;
}
.mr10{
	margin-right: 10px;
}
.mlr5{
	margin-left: 5px;
	margin-right: 5px;
}
/* 提示语公共部分 */
.layui-layer-loading .layui-layer-content{
	margin: 0 auto;
}
.succ-box .layui-layer-content{
	padding: 15px 20px;
	background: #276bc1;
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 100px!important;
}
/* 公共头部*/
.header-top{
	padding-bottom: 50px;

}
.header-topbar{
	width: 100%;
	height: 38px;
	background: #415275;
} 
.header-topbar span{
	display: inline-block;
	line-height: 26px;
	height: 26px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	background: #6595bb;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.header-topbar .topbar-sort{
	margin-top: 6px;
	font-size: 0;
}
.header-topbar .topbar-sort span{
	margin-right: 15px;
}
.header-topbar .topbar-sort span.active{
	background: #0081ff;
}
.header-topbar .topbar-sort em{
	font-size: 14px;
	color: #fbcd40;
}
.header-topbar .topbar-switch{
	margin-top: 6px;
	font-size: 0;
	float: right;
}
.header-topbar .topbar-switch span{
	font-size: 14px;
	margin-right: 20px;
}
.header-topbar .topbar-switch span.active{
	background: #48c573;
}
.header-topbar .topbar-user{
	color: #fff;
}
.header-topbar .topbar-user{
	display: inline-block;
	margin-left: 4px;
	margin-right: 24px;
}
.header-topbar .topbar-user .icon-user{
	position: relative;
	top: 7px;
	margin-right: 5px;
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url('../img/icon/icon_user.png') center center no-repeat;
}
.header-topbar .quit-btn{
	background: #d24d4e;

}
.header{
	height:80px;
	background: #276bc1;
	overflow:hidden;
}

.header .header-logo{
	float: left;
	margin-top: 14px;
}
.header .header-logo img{
	border:0;
}
.header-nav{
	float: right;
	margin-top: 24px;
}
.header-nav .nav-list li{
	float: left;
	font-size: 16px;
	margin-left: 22px;
}
.header-nav .nav-list li a{
	display: inline-block;
	padding:4px 10px;
	border-radius: 30px;
	color: #fff;
}
.header-nav .nav-list li a.active,.header-nav .nav-list li a:hover{
	background: #fff;
	color: #2061b3;
}

/* 公共侧栏 */
.public-sida{
	float: left;
	width: 190px;
	padding-bottom:86px;
	background: #dee6f0;
	border-radius: 5px;
	overflow:hidden;
	margin-right: 30px;
}
.public-sida .nav-list{
	font-size: 16px;
	padding-left: 0;
}
.public-sida dl dt{
	height: 46px;
	line-height: 46px;
	padding-left: 10px;
	background: #276bc1;
	color: #fff;
}
.public-sida dl dd a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #fff;
}
.public-sida dl dd a{
	border-left: 4px solid #dee6f0;
}
.public-sida dl dd a:hover,.public-sida dl dd a.active{
	background: #fff;
	border-left: 4px solid #dee6f0;
	color: #276bc1;
}
 

.footer{
	border-top: 1px solid #ccc;
	text-align: center;
	height: 80px;
	line-height: 80px;
}

.container{
	min-height: 100%;
	padding-top: 168px;
	margin-top: -168px;
	padding-bottom: 180px;
	margin-bottom: -80px;
	box-sizing: border-box;
	
}