/* 重置样式 */
.layui-form-radio i:hover, .layui-form-radioed i{
  color: #0081ff;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #0081ff;
    color: #fff;
}
.layui-form-checked[lay-skin=primary] i{
  background-color: #0081ff;
}
.layui-form-checked[lay-skin=primary] i{
  border-color:#0081ff;
}
.layui-btn-normal{
  background: #0081ff;
}
.layui-form-select dl dd.layui-this{
  background-color: #0081ff;
}
/* 自定义多选框 */
.icon_checkbox_no{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/icon/icon_pop1.png') center center no-repeat;
  vertical-align: middle;
}
.icon_checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/icon/icon_pop.png') center center no-repeat;
  vertical-align: middle;
}
.icon_radio_no{
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('../img/icon/icon_radio1.png') center center no-repeat;
      vertical-align: middle;
}
.icon_radio{
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('../img/icon/icon_radio.png') center center no-repeat;
      vertical-align: middle;
}

/* 表单的列自定义样式 */
.layui-input-block-z{
    line-height: 36px;
    padding-right: 15px;
    background: 0 0;
    color: #666;
    font-size: 14px;
}
.layui-input-block-z .input-title{
    padding-left: 10px;
    padding-right: 10px;

}
/* 登陆 */
.log-container {
    min-height: 100%;
    padding-top: 38px;
    margin-top: -38px;
    padding-bottom: 80px;
    margin-bottom: -80px;
    box-sizing: border-box;
}
.log-top{
    height: 38px;
    width: 100%;
    background: #415275;
}
.log-top .time{
   line-height: 38px;
   color: #fff;
}
.log-container .log-bg{
    height: 580px;
    width: 100%;
    background: url('../img/log_banner.jpg') center center no-repeat;
}
.service-btn{
    float: right;
    margin-top: 6px;
    height: 26px;
    color: #fff;
    line-height: 26px;
    padding-left: 30px;
    padding-right: 10px;
    background: #48c573 url('../img/icon/headset.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 5px;
    cursor: pointer;
}
.log-wrap{
    margin-top: 90px;
    float: right;
    width: 327px;
    height: 401px;
    background: url('../img/log_bg.png');
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 60px;
    box-sizing: border-box;
}
.log-wrap .input-box:first-child{
    margin-bottom: 25px;
}
.log-wrap .input-box{
    position: relative;
    width: 100%;
    border: 1px solid #d6e3f5;
    height: 48px;
    border-radius: 8px;
}
.log-wrap .input-box .user-error{
  position: absolute;
  top: -30px;
  left: 10px;
  color: red;
}
.log-wrap .input-box label{
  position: absolute;
  width: 100%;
  bottom: -22px;
  left: 10px;
  color: red;
}
.log-wrap .input-box input{
    width: 100%;
    height: 48px;
    border: 0;
    outline: none;
    padding-left: 45px;
    box-sizing: border-box;
    border-radius: 8px;
}
.log-wrap .input-box .icon-user{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url('../img/icon/icon_user.png');
}
.log-wrap .input-box .icon-lock{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 19px;
    height: 24px;
    background: url('../img/icon/icon_lock.png');
}
.log-wrap .log-btn{
    width: 100%;
    height:48px;
    background: #276bc1;
    color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing:8px;
    cursor: pointer;
    margin-top: 80px;
}
/* 基本设置 */
.basic-wrap .basic-table{
	width: 980px;
    border-collapse: collapse;
    border-color: #e4e4e4;
    color: #656e80;
    border:1px solid #e4e4e4;
    font-size: 16px;
}
.basic-table thead tr th{
	background: #eaeef3;
	border:1px solid #e4e4e4;
	height: 40px;
	line-height: 40px;
	

}
.basic-table tr td{
	 border:1px solid #e4e4e4;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 14px;
}
.basic-table tr td{
	position: relative;
}
.basic-table tr td:nth-child(1){
	text-align: center;
	font-size: 16px;
	width: 190px;
	padding-left: 0;
}
.basic-table input[type="radio"]{
    // display: none;
    opacity:0;
    
}
.basic-table label{
	padding-left: 30px;
	background: url('../img/icon/icon_radio1.png') left center no-repeat;
}
.basic-table label.checked {
	background: url('../img/icon/icon_radio.png')left center no-repeat;
}
.basic-table input[type='text']{
	width: 90px;
	padding-top: 7px;
	padding-bottom: 7px;
	border:1px solid #acb8d0;
	border-radius: 5px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;

}
.basic-table label.error{
	padding-left: 10px;
	color: #ff0000;
}
.basic-table #sealSecond-error{
	position: absolute;
	display: block;
	background: none;
	left: 272px;
	top: 19px;
}
#reportDay-error{
	background: none;
}
.basic-wrap .btn-box{
	margin-top: 60px;
	text-align: center;
}
.basic-wrap .btn-box .btn{
	display: inline-block;
	background: #0081ff;
	color: #fff;
	padding:5px 30px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;


}
 /* 公告设置 */
 .notic-wrap .page {
 	font-size: 16px;
 	color: #415275;
 	line-height: 28px;
 }
 .notic-wrap .page span{
 	position: relative;
 	top: -1px;
 	cursor: pointer;
 	font-size: 16px;
 	vertical-align: middle;
 }
 .notic-wrap .icon_arrows_frist{
 	display: inline-block;
 	width: 26px;
 	height: 26px;
 	background: url('../img/icon/icon_arrows_frist.png') center center no-repeat;
 }
 .notic-wrap .icon_arrows_left{
 	margin-left: 5px;
 	display: inline-block;
 	width: 26px;
 	height: 26px;
 	background: url('../img/icon/icon_arrows_left.png') left center no-repeat;
 }
 .notic-wrap .icon_arrows_right{
 	margin-right: 5px;
 	display: inline-block;
 	width: 26px;
 	height: 26px;
 	background: url('../img/icon/icon_arrows_right.png') right center no-repeat;
 }
 .notic-wrap .icon_arrows_last{
 	display: inline-block;
 	width: 26px;
 	height: 26px;
 	background: url(../img/icon/icon_arrows_last.png) center center no-repeat;
 }
  .notic-wrap .page .sele-page{
 	display: inline-block;
 }
 .notic-wrap{
    float: right;
 }
 .notic-wrap .page .sele-page form{
  position: relative;
  display: inline-block;
 }
 #page-error{
  position: absolute;
  width: 100px;
  left: -12px;
  color: red;
  font-size: 12px;
  bottom: -22px;
 }
.notic-wrap .page .sele-page input{
  	box-sizing: border-box;
  	width: 30px;
  	height: 25px;
  	padding-left: 5px;
  	padding-right: 5px;
  	border-radius: 5px;
  	outline: none;
  	vertical-align: middle;
    text-align: center;
  }
  .notic-wrap .page .all-nub{
  	display: inline-block;
  	margin-left: 10px;
  	margin-right: 2px;
  }
  .notic-top .title{
  	font-size: 16px;
    cursor: pointer;
  }
.notic-wrap  .notic-top{
  	width: 980px;
  }
.notic-wrap .notic-table{
	width: 980px;
	font-size: 14px;
	border-collapse: collapse;
    border: 1px solid #e4e4e4;
    margin-top: 15px;
}
.notic-wrap .notic-table thead tr th{
	background: #eaeef3;
    border: 1px solid #e4e4e4;
    height: 40px;
    font-weight: normal;
    color: #415275;
    font-size: 16px;
}
.notic-wrap .notic-table tr td{
	text-align: center;
	padding: 10px;
	border: 1px solid #e4e4e4;
}
.notic-wrap .notic-table tr td:nth-child(1){
	width: 90px;
}
.notic-wrap .notic-table tr td:nth-child(2){
	width: 470px;
	text-align: left;
}
.notic-wrap .notic-table tr td:nth-child(3){
}
.notic-wrap .notic-table tr td:nth-child(5){
	width: 140px;
}
.notic-wrap .notic-table tr td span{
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
	color: #276bc1;
}
.notic-wrap .notic-table tr td i input{
  opacity: 0;
}
.notic-wrap .notic-table tr td i{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/icon/icon_pop1.png') center center no-repeat;

}

.notic-wrap .notic-table tr td i.active{
  background: url('../img/icon/icon_pop.png') center center no-repeat;
}

/* 增加公告 */
.pulic-pop{
  display: none;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.pulic-pop .add-notice{
  position: absolute;
  background: #fff;
  height: 600px;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 500px;

}
.pulic-pop .add-notice .icon-close{
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    background:url('../img/icon/icon_close.jpg') center center no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}
.pulic-pop .layui-form-item-all{
  margin-bottom: 0px;
}
.pulic-pop .layui-form-item-btn{
  margin-top: 30px;
}
.pulic-pop .add-notice fieldset{
  margin-top: 20px;
}
.pulic-pop .add-notice .layui-form{
  padding-right: 40px;
}
.layui-form-radio i:hover, .layui-form-radioed i {
  color: #
}
.pulic-pop-show h3.title{
  text-align: center;
  font-size: 16px;
}
.pulic-pop-show .time{
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
  font-size: 12px;
}
.pulic-pop-show .content{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  text-indent: 2em;
  line-height: 1.6;

}
/* 投注设置 */
.Betting-wrap{
	float: right;
	width: 980px;
}
.Betting-wrap table{
	width: 100%;
	font-size: 14px;
	box-sizing: border-box;
    border-collapse: collapse;
    border:1px solid #acb8d0;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
}
.Betting-wrap table:nth-child(1){
	margin-bottom: 20px;
}
.Betting-wrap table thead{
	height: 40px;
	line-height: 40px;
	background: #eaeef3;
	border:1px solid #eaeef3;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
}
.Betting-wrap table thead tr th{
	font-size: 16px;
	font-weight: normal!important;
	color: #415275;
}
.Betting-wrap table td{
	border:1px solid #e1e9f2;
	padding: 10px;
	text-align: center;

}
.Betting-wrap table tr:nth-child(1) td{
	border-top: 0;
}
.Betting-wrap table td input{
	width: 110px;
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	border:1px solid #acb8d0;
}
.Betting-wrap table tr td:nth-child(1) {
	width: 90px;
	text-align: center;
}
.Betting-wrap .btn-box{
	text-align: center;
	margin-top: 30px;
}
.Betting-wrap .btn-box span{
	display: inline-block;
	width: 132px;
	height: 28px;
	line-height: 28px;
	border:1px solid #acb8d0;
	color: #66728c;
	border-radius: 5px;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
}
.Betting-wrap .btn-box span.active{
	background: #0081ff;
	color: #fff;
}

.watter-wrap table td input{
     width: 103px;
}
.watter-wrap table thead{
     background: #276bc1;
  
}
.watter-wrap table thead tr th{
    color: #fff;
}
.watter-wrap table thead tr th:last-child{
    position: relative;
    top: 20px;
}
.watter-wrap table .bg{
    background: #276bc1;
    border-top: 1px solid #276bc1!important;
}
.watter-wrap table .other{
    text-align: right;
}
.watter-wrap table .other span{
    display: inline-block;
    width: 30px;
    margin-right: 3px;
}
.watter-wrap table .other span:nth-child(1){
    margin-bottom: 5px;
}
.watter-wrap table .other input{
    width: 70px;
}
